/*
	Theme Name: SpotFinder
	Theme URI: http://themes.btoa.com.au/
	Description: Premium Finder Theme
	Author: BTOA Themes
	Author URI: http://themes.btoa.com.au/
	Version: 1.35.2
	License:
	License URI:
	Tags: dark, blue, pink, yellow, orange
*/

/* reset all elements */
@import url("css/icons.css");

.one-half, .one-third, .two-thirds,
.one-fourth, .three-fourths, .one-fifth,
.two-fifths, .three-fifths, .four-fifths,
.one-sixth, .five-sixths, .one-seventh,
.two-sevenths, .three-sevenths, .four-sevenths,
.five-sevenths, .six-sevenths { float: left; margin: 0 4% 0 0; }
.one { width: 100% !important; float: left; margin: 0 0 30px 0; }
.one-half { width: 48%; }
.one-third { width: 30.66%; }
.two-thirds { width: 65.33%; }
.one-fourth { width: 22%; }
.three-fourths { width: 74%; }
.one-fifth { width: 16.8%; }
.two-fifths { width: 37.6%; }
.three-fifths { width: 58.4%; }
.four-fifths { width: 79.2%; }
.one-sixth { width: 13.33%; }
.five-sixths { width: 82.67%; }
.one-seventh { width: 10.857%; }
.two-sevenths { width: 25.714%; }
.three-sevenths { width: 40.571%; }
.four-sevenths { width: 55.428%; }
.five-sevenths { width: 70.285%; }
.six-sevenths { width: 85.142%; }
.group { float: left; width: 100%; }
.last { margin-right: 0 !important; margin-left: 0 !important; }
.clear { clear: both; display: block; }
.hidden { display: none; }
.center { text-align: center; }
form { margin: 0 !important; }


/* ===== GENERAL STYLES ===== */

body { font: normal 14px/18px "Titillium Web", Helvetica, Arial, sans-serif; color: #484544; }

h1, h2, h3, h4, h5 { font-weight: 500; color: #484544; font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { -webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out; text-decoration: none; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.wrapper { width: 1000px; margin: 0 auto; position: relative; }

big { font-size: 18px; line-height: 22px; }
.big-heading { font-weight: 300; font-size: 48px; line-height: 52px }

.left { float: left; }
.right { float: right; }
.center { margin: 0 auto; }
.responsive-only, .ipad-only { display: none; }

.button, .button-primary, .button-secondary, .form-submit #submit, #searchsubmit, button { display: inline-block; font-size: 14px; line-height: 31px; padding: 0 10px; background: blue; text-transform: uppercase; color: white; width: auto; font-weight: bold; min-height: 0;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; border: none;
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out;
-webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; }
.button-primary:hover, .form-submit #submit:hover, #searchsubmit:hover { color: white !important; }
.button-primary:hover, .button-secondary:hover { text-decoration: none; color: inherit; opacity: .85; }
.right .button-primary, .right .button-secondary { margin-left: 6px; }
.left .button-primary, .left .button-secondary { margin-right: 6px; }
.button-small { font-size: 12px !important; padding: 0 8px !important; line-height: 20px !important; font-weight: bold; min-height: 0; }
.button, .big-button { margin-right: 5px;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

button { margin: 0; }

.side-padding { padding-left: 15px; padding-right: 15px; }

.read-more, .view-map { font-size: 1em; text-transform: uppercase; display: block; margin: 0 0 .5em 0; font-weight: bold; }

.responsive-only, .retina-only { display: none; }




/* ===== HEADER ===== */

#header { float: left; width: 100%; border-top: 3px solid black; position: relative; z-index: 1950; }
#header .left { margin-left: 30px; }
#header .right { margin-right: 30px; }

#header #logo { margin: 20px 0; display: block; width: 131px; height: 36px; }
#header #logo img { display: block; }

#header #logo img.retina-only { display: none; }




/* ===== MENU ===== */
#menu { width: 650px; margin: 0 auto; position: relative; z-index: 1000; }
#menu ul { list-style: none; margin: -3px 0 0 0; padding: 0; text-align: center; }
#menu ul li { display: inline-block; position: relative; }
#menu > ul > li > a { display: block; padding: 0 15px; border-top: 3px solid black; color: white; font-size: 18px; text-transform: uppercase; text-decoration: none;
-webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -ms-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out; transition: all .1s ease-in-out; }
#menu > ul > li > a:hover { text-decoration: none; }

#menu ul ul { display: none; position: absolute; width: 220px; left: 0; top: 100%; z-index: 1500; overflow: visible !important; }
#menu ul ul li { display: block; height: auto !important; text-align: left; border-bottom: 1px solid rgba(0, 0, 0, .1); position: relative; }
#menu ul ul li a { font-size: 14px; line-height: 18px; display: block; padding: 12px 15px;
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out;  }
#menu ul ul li a:hover { background: rgba(0, 0, 0, .05); text-decoration: none; }
#menu ul ul > li:last-child { border-bottom: none; } 
#menu ul ul ul { left: 100%; top: 0; }




/* ===== SOCIAL ===== */

#social { list-style: none; margin: 0; padding: 0; }
#social li { display: inline-block; margin: 0 2px; }
#social li a { display: block; line-height: 30px; width: 30px; text-align: center;
-webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px;
-webkit-transition: all .08s ease-in-out; -moz-transition: all .08s ease-in-out; -ms-transition: all .08s ease-in-out; -o-transition: all .08s ease-in-out; transition: all .08s ease-in-out; }
#social li a:hover { color: white; }
#social li a.social-facebook:hover { background-color: #3c5399; color: white; }
#social li a.social-twitter:hover { background-color: #15bdf8; color: white; }
#social li a.social-vimeo:hover { background-color: #3696b5; color: white; }
#social li a.social-google:hover { background-color: #d34334; color: white; }
#social li a.social-pinterest:hover { background-color: #d62d34; color: white; }
#social li a.social-tumblr:hover { background-color: #3a5976; color: white; }
#social li a.social-linkedin:hover { background-color: #0e92c0; color: white; }
#social li a.social-dribbble:hover { background-color: #ea4d91; color: white; }
#social li a.social-instagram:hover { background-color: #ac5722; color: white; }

.facebook-button { display: block; background: #365ea4; font-size: 14px; text-align: center; line-height: 42px; color: white; text-transform: uppercase; letter-spacing: 1px; font-weight: 500; text-shadow: 0 1px 1px rgba(0, 0, 0, .5); cursor: pointer; margin: 30px 0 1em 0;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px;
-webkit-transition: all .13s ease-in-out; -moz-transition: all .13s ease-in-out; -ms-transition: all .13s ease-in-out; -o-transition: all .13s ease-in-out; transition: all .13s ease-in-out;  }
.facebook-button i { float: left; width: 42px; line-height: 42px; background: #294c92; font-size: 18px;
-webkit-border-top-left-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-bottomleft: 2px; border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.facebook-button:hover { background: #294c92; }

.facebook-divider { display: block; font-size: 14px; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; text-align: center; position: relative; margin: 2em 0 1.7em; }
.facebook-divider .line { position: absolute; left: 0; top: 50%; width: 100%; height: 4px; margin-top: -2px; overflow: hidden; background: red; }
.facebook-divider .text { position: relative; z-index: 10; width: auto; margin: 0 auto; padding: 0 20px; }




/* ===== RESPONSIVE HEADER ===== */

#header-mobile { float: left; width: 100%; margin-bottom: -4px; position: relative; z-index: 20000; -webkit-backface-visibility: hidden; }
#header-mobile .left { margin-left: 5%; }

#header-mobile #mobile-menu-button { float: right; padding: 0 5% 0 4%; line-height: 40px; min-height: 40px; margin: 0; border-left-width: 1px; border-left-style: solid; text-transform: uppercase; letter-spacing: 1px; }
#header-mobile #mobile-filter-button { float: left; padding: 0 4% 0 5%; line-height: 40px; min-height: 40px; margin: 0; border-right-width: 1px; border-right-style: solid; text-transform: uppercase; letter-spacing: 1px; }

#header-mobile i { opacity: 1; display: inline-block; }

#header-mobile #mobile-filter-button i { margin-right: 8px; }
#header-mobile #mobile-menu-button i { margin-left: 8px; }

#header-mobile #mobile-menu-button, #header-mobile #mobile-filter-button { cursor: pointer; text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out; }

#mobile-menu, #filter-menu { position: absolute; left: 0; top: 0; width: 100%; padding: 0; display: none; overflow: hidden; z-index: 20000; -webkit-backface-visibility: hidden; }
#mobile-menu-wrapper { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
#mobile-menu-close { display: block; padding: 15px 5%; text-transform: uppercase; letter-spacing: 1px; border-bottom-style: solid; border-bottom-width: 1px; font-size: 15px; line-height: 15px;
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out; }
#mobile-menu-close:hover { background: rgba(0, 0, 0, .3) }

#mobile-menu-wrapper > ul { list-style: none; margin: 0; padding: 0; }
#mobile-menu-wrapper > ul > li { border-bottom-style: solid; border-bottom-width: 1px; }
#mobile-menu-wrapper > ul > li > a { padding: 15px 5%; display: block; text-transform: uppercase; letter-spacing: 1px; font-size: 15px; line-height: 15px;
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out;  }
#mobile-menu-wrapper > ul > li > a:hover { background: rgba(0, 0, 0, .3); text-decoration: none; }

#mobile-menu-wrapper ul ul { list-style: none; padding: 0; margin: 0; }
#mobile-menu-wrapper ul ul ul { list-style: none; padding: 0 0 0 15px; margin: 0; }
#mobile-menu-wrapper ul ul li {  }
#mobile-menu-wrapper ul ul li a { display: block; margin-bottom: 15px; padding: 0 5%; font-size: 13px; line-height: 13px; }

#finish-filter { padding: 15px 5%; text-transform: uppercase; letter-spacing: 1px; border-bottom-style: solid; border-bottom-width: 1px; font-size: 15px; line-height: 15px; margin: -20px -5.55% 20px -5.55%; cursor: pointer;
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out; }

#search-ipad { position: absolute; left: 0; top: 0; background: black; z-index: 1900; float: left; width: 100%; padding: 25px 0; font-size: 18px; text-transform: uppercase; text-align: center; cursor: pointer; }




/* ===== SEARCH ===== */

#search-hover { z-index: 1900; min-height: 80px; position: absolute; }
#search-hover, #search { float: left; width: 100%; }
#search { padding: 20px 0 25px; }

#search .down-arrow { position: absolute; font-size: 14px; width: 36px; height: 36px; margin-left: -18px; bottom: -71px; left: 50%; text-align: center; line-height: 36px;
-webkit-border-radius: 36px; -moz-border-radius: 36px; -ms-border-radius: 36px; -o-border-radius: 36px; border-radius: 36px; }
#search .down-arrow:after { content: ""; position: absolute; width: 0; height: 0; left: 50%; top: -5px; margin: 0 0 0 -7px; border-bottom-width: 7px; border-bottom-style: solid; border-left: 7px solid transparent; border-right: 7px solid transparent; }

#search .up-arrow { position: absolute; font-size: 14px; width: 36px; height: 36px; margin-left: -18px; top: -66px; left: 50%; text-align: center; line-height: 36px;
-webkit-border-radius: 36px; -moz-border-radius: 36px; -ms-border-radius: 36px; -o-border-radius: 36px; border-radius: 36px; }
#search .up-arrow:after { content: ""; position: absolute; width: 0; height: 0; left: 50%; bottom: -5px; margin: 0 0 0 -7px; border-top-width: 7px; border-top-style: solid; border-left: 7px solid transparent; border-right: 7px solid transparent; }

#search-spots > div > .one-half { margin-right: 4%; }
/*#search-spots > div > .one-half:nth-child(2n+2) { margin-right: 0; }*/

#search-spots label { text-transform: uppercase; font-weight: 600; letter-spacing: 1px; font-size: 13px; line-height: 15px; margin: 0 0 5px; }
#search-spots label.check-label { font-size: 12px; }

.type-text-wrapper { position: relative; display: block; }
.type-text-wrapper ul { list-style: none; padding: 0; margin: 0; position: absolute; left: 0; top: 100%; width: 100%; min-height: 28px; z-index: 1000; background: white; display: none; }
.type-text-wrapper ul li { padding: 5px 10px; cursor: pointer; }
.type-text-wrapper ul li:hover, .type-text-wrapper ul li.highlight { background: #eaeaea; background: rgba(0, 0, 0, .1); }

#search-spots input { -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; border: none; }

#custom-header.custom-header-form .wrapper { width: 1000px; }
.custom-header-form #search-spots { background: #484544; padding: 25px 15px; margin: 0; width: 100%; }

#subheader { float: left; width: 100%; border-bottom: 4px solid #dfdfdf; min-height: 53px; }
.listing-view { list-style: none; padding: 0; margin: 0; border-left: 1px solid #dfdfdf; float: left; }
.listing-view li { float: left; border-right-width: 1px; border-right-style: solid; }
.listing-view a { display: block; line-height: 53px; padding: 0 20px; text-transform: uppercase; font-weight: bold;
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out;  }
.listing-view a:hover, .listing-view .current { background: rgba(0, 0, 0, .05); text-decoration: none; }

#listing-sort { width: 380px; float: right; margin-right: 150px; }
#subheader label { display: inline-block; font-size: 14px; font-weight: normal; line-height: 53px; margin: 0 15px 0 0; float: left; }
#subheader .select-replace { width: 270px; text-align: left; display: inline-block; float: left; }
#subheader .select-replace span { background: rgba(0, 0, 0, .05); line-height: 53px; max-height: 53px; white-space: pre; overflow: hidden; padding-left: 15px; font-weight: bold; text-transform: uppercase; font-size: 14px; color: #484544; border-left-width: 1px;  border-left-style: solid; border-right-width: 1px;  border-right-style: solid; 
-webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; }
#subheader .select-replace i { top: 18px; font-size: 12px; }
#subheader .select-replace select { height: 53px; }

#listing-count .select-replace { width: 60px; }



/* ==== MAP SLIDER ==== */

#slider { float: left; width: 100%; position: relative; }
#slider-map { background: #dfdfdf; float: left; width: 100%; }
#slider-map-message { position: absolute; z-index: 2000; text-align: center; width: 100%; top: 50%; margin-top: -20px; display: none; }
#slider-map-message span { display: inline-block; background: black; background: rgba(0, 0, 0, .5); color: white; padding: 15px; font-size: 16px; line-height: 18px;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

.overlay-cluster-wrapper { display: block; width: 200px; text-align: left; position: absolute; left: 0; top: -9px; height: 250px; }
.overlay-cluster, .gm-style div.overlay-cluster { padding: 5px 10px; position: absolute; top: 50%; left: 0; display: none; width: 180px;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.overlay-cluster ul { list-style: none; padding: 0; margin: 0; }
.overlay-cluster li {  }
.overlay-cluster li a { border-bottom-width: 1px; border-bottom-style: solid; display: block; text-transform: uppercase; padding: 4px 1px; }
.overlay-cluster .arrow { position: absolute; border-bottom: 6px solid transparent; border-top: 6px solid transparent; border-right-style: solid; border-right-width: 6px; left: -6px; top: 50%; margin-top: -6px; width: 0; height: 0; box-sizing: content-box; -webkit-box-sizing: content-box; }
.overlay-cluster li:last-child a { border-bottom: none; }

.overlay-title-wrapper, .gm-style .overlay-title-wrapper { width: 200px; text-align: center; position: absolute; left: 0; top: 25px; display: none; }
.overlay-title-wrapper .title { position: absolute; left: 0; bottom: 0; width: 100%; }
.overlay-title-wrapper .title span { display: inline-block; background: black; background: rgba(0, 0, 0, .8); color: white; padding: 4px 8px; font-size: 11px;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.overlay-title-wrapper .arrow-down { position: absolute; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid black; left: 50%; margin-left: -6px; bottom: -6px; width: 0; height: 0; }

.map-overlay { position: absolute; left: 0; top: 0; background: black; width: 325px; height: 40px; top: -4px; display: none; cursor: default; overflow: visible !important;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.map-overlay a { cursor: pointer; }
.overlay-inside { position: relative; width: 100%; height: 100%; overflow: hidden; display: none;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.map-overlay .arrow { position: absolute; border-bottom: 8px solid transparent; border-top: 8px solid transparent; border-right: 8px solid black; left: -8px; top: 50%; margin-top: -8px; width: 0; height: 0; box-sizing: content-box; -webkit-box-sizing: content-box; }
.overlay-image { float: left; margin-right: 15px; }
.overlay-image img { display: block; }
.overlay-content { padding: 10px 15px 10px 15px; font-size: 11px; line-height: 14px; }
.overlay-content h5, .overlay-content h5 a { margin: 0; font-size: 9px; text-transform: uppercase; letter-spacing: 1px; }
.overlay-content h2, .overlay-content h2 a { font-size: 20px; line-height: 24px; font-weight: 500; margin: -1px 0 13px; }
.overlay-content p { margin-top: 0; }
.overlay-content ul { margin: 0; padding: 0; list-style: none; }
.overlay-content ul li, .gm-style .overlay-content ul li { font-size: 9px; letter-spacing: 1px; text-transform: uppercase; line-height: 12px; }
.gm-style .overlay-content ul li span { font-size: 9px; line-height: 12px; }
.overlay-content ul li i { display: inline-block; margin-left: -3px; }
a.get_directions { text-transform: uppercase; display: block; margin: 7px 0 0; letter-spacing: 1px; font-size: 9px; }

.overlay-rating { margin: -6px 0 6px 0 !important; font-size: 11px; padding: 4px 0 0 0; }
.overlay-rating i { display: inline-block; margin: 0 0 0 -4px; }
.overlay-rating i:first-child { margin-left: -2px; }

#map-zoom-out, #map-zoom-in { position: absolute; width: 45px; height: 45px; bottom: 1px; left: 1px; background: black; color: white; text-align: center; line-height: 45px; font-size: 16px; cursor: pointer;
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out;
user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -o-user-select: none;  }
#map-zoom-in { bottom: 47px; }

#slider-bar { float: left; width: 100%; background: #2b2b2b; color: white; padding: 25px 0; font-size: 16px; text-transform: uppercase; letter-spacing: 1px; line-height: 20px; font-weight: 300;
-webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, .1); -moz-box-shadow: inset 0 3px 0 rgba(0, 0, 0, .1); -ms-box-shadow: inset 0 3px 0 rgba(0, 0, 0, .1); -o-box-shadow: inset 0 3px 0 rgba(0, 0, 0, .1); box-shadow: inset 0 3px 0 rgba(0, 0, 0, .1); }
#slider-bar a, #slider-bar strong { color: white; font-weight: 500; }
#slider-bar .left a { display: inline-block; margin-left: 15px; }

/* .overlay-featured-wrapper { width: 75px; height: 75px; position: absolute; border: 5px solid black; left: 62px; top: -54px; display: none; cursor: pointer; overflow: visible !important;
-webkit-border-radius: 75px; -moz-border-radius: 75px; -ms-border-radius: 75px; -o-border-radius: 75px; border-radius: 75px; }*/
.overlay-featured-wrapper { width: 40px; height: 40px; position: absolute; border: 5px solid black; left: 81px; top: -20px; display: none; cursor: pointer; overflow: visible !important;
-webkit-border-radius: 75px; -moz-border-radius: 75px; -ms-border-radius: 75px; -o-border-radius: 75px; border-radius: 75px; }
.overlay-featured-wrapper img { -webkit-border-radius: 75px; -moz-border-radius: 75px; -ms-border-radius: 75px; -o-border-radius: 75px; border-radius: 75px; }
.overlay-featured-wrapper .arrow-down { position: absolute;width: 0; height: 0; left: 50%; bottom: -11px; border-top: 7px solid black; border-left: 7px solid transparent !important; border-right: 7px solid transparent !important; margin-left: -7px; }

#map-resize { position: absolute; left: 50%; top: 0; margin-left: -50px; background: red; color: white; font-size: 11px; font-weight: bold; text-transform: uppercase; padding: 0 6px 0 10px; line-height: 26px; cursor: s-resize; letter-spacing: 1px; display: none;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
user-select: none; -ms-user-select: none; -o-user-select: none; -webkit-user-select: none; -moz-user-select: none; }

._sf_radius_center, ._sf_radius_resize { width: 12px; height: 12px; position: absolute;
-webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; }
._sf_radius_resize { width: 26px; height: 26px; position: absolute; }




/* ===== CONTENT ===== */

#content { float: left; width: 100%; margin: 0; }

#custom-header { padding: 45px 0; float: left; width: 100%; }
#custom-header .wrapper { width: 990px; }
#custom-header h2 { margin: 0; font-size: 42px; font-weight: bold; line-height: 48px; }
#custom-header h4 { font-size: 20px; line-height: 24px; font-weight: 300; }

#main-content, #sidebar-left, #sidebar-right { margin: 35px 0; }
#main-content.large-8.sidebar-right, #sidebar-left { padding-left: 0; }
#sidebar-right, #main-content.large-8.sidebar-left { padding-right: 0; }
#main-content.loading-content { min-height: 150px; }

.sidebar-item > ul, .sidebar-item .menu { list-style: none; padding: 0; }
.sidebar-item > ul > li { border-bottom-style: solid; border-bottom-width: 1px; padding: 5px; }
.sidebar-item > ul > li:last-child { border-bottom: none; }
.sidebar-item > ul > li > a {  }

#footer .footer-item > ul, #footer .footer-item .menu { list-style: none; padding: 0; }
.footer-item > ul > li { border-bottom-style: solid; border-bottom-width: 1px; padding: 5px; border-bottom-color: rgba(255, 255, 255, .1) }
.footer-item > ul > li:last-child { border-bottom: none; }

.page-title { margin: 0 0 30px; border-bottom: 1px solid #d0d0d0; padding-bottom: 30px; font-weight: bold; padding-left: 5px; }
.page-title small { font-weight: 300; display: block; margin: 0; line-height: 110%; }

.page-header { margin: -10px 0 20px; border-bottom: 1px solid #d0d0d0; padding-bottom: 25px; font-weight: bold; }
.page-header h2 { margin: 0; font-weight: bold; }
h3 { font-weight: bold; border-bottom: 1px solid #d0d0d0; padding-bottom: 10px; font-size: 24px; line-height: 28px; }

.notify-me { display: inline-block; padding: 7px 12px; font-size: 12px; text-transform: uppercase; margin: 1em 0;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out;  }
.notify-me:hover { text-decoration: none; }

#slider-map-message .notify-me { padding: 0; background: none !important; margin: 1em 0 0 !important; }
#slider-map-message .notify-me { font-weight: bold; text-decoration: underline; font-size: 14px; line-height: 16px; text-transform: none; }



	/* ==== SIDEABR ==== */
	
	#sidebar-left { float: left; }
	#main-content.large-8.sidebar-left { float: right; }
	
	.sidebar-item { float: left; width: 100%; margin: 0 0 20px; border-bottom: 4px solid #d0d0d0; padding: 0 0 15px; }
	.sidebar-item h4 { font-size: 20px; line-height: 24px; }
	
	.spot-enquiry h4 { margin-bottom: 15px; }



/* ==== HOME ===== */

.home-post { float: left; width: 100%; padding: 30px 0; }


/* ==== LISTINGS ==== */

#spots { list-style: none; padding: 0; margin: 20px 0 0; float: left; width: 100%; }
#spots .spot-image { float: left; position: relative; }
#spots .spot-image a { float: left; width: 100%; }
#spots .spot-image img { display: block; position: relative; z-index: 10; }
#spots .spot-image span { position: absolute; left: 0; top: 0; background: red; font-size: 12px; line-height: 30px; text-align: center; width: 100%; z-index: 20; font-weight: bold; text-transform: uppercase; color: white; letter-spacing: 1px; }

#spots .spot-cats { float: left; margin: 6px  20px -2px 0; font-size: 12px; text-transform: uppercase; line-height: 15px; }
#spots .spot-cats a {  }

#spots h2 { font-size: 30px; line-height: 32px; margin-top: 6px; margin-bottom: 15px; }
#spots .read-more, #spots .view-map { float: left; }
#spots .view-map { margin-top: -10px; }
#main-content.sidebar-none #spots.spot-list .view-map { margin-left: 20px; margin-top: 0; }

.spot-listing-rating { display: block; font-size: 12px; line-height: 14px; float: left; margin: 7px 0 -2px 0; }
.spot-listing-rating i { margin: 0 0 0 -5px; }
.spot-listing-rating i:first-child { margin: 0 0 0 -3px; }


	/* ==== LIST STYLE ==== */
	#spots.spot-list > li { float: left; width: 100%; padding: 0 0 40px; margin: 0 0 40px; border-bottom-width: 4px; border-bottom-style: solid; }
	#spots.spot-list > li:last-child { border-bottom: none; }
	#spots.spot-list > li.clear { display: none; }
	#spots.spot-list > li .spot-search-fields-wrapper { float: right; }
	#spots.spot-list > li .grid-only { display: none; }


	/* ==== GRID STYLE ==== */
	#spots.spot-grid > li { float: left; width: 48%; margin: 0 4% 30px 0; }
	#main-content.sidebar-none #spots.spot-grid > li { float: left; width: 30.66%; margin: 0 4% 30px 0; }
	#main-content #spots.spot-grid > li.clear { width: 100%; height: 1px; border-bottom-width: 4px; border-bottom-style: solid; margin: 10px 0 50px; }
	#main-content #spots.spot-grid > li.clear:last-child { display: none; }
	
	#spots.spot-grid > li .spot-image { width: 100%; margin: 0 0 10px; }
	#spots.spot-grid > li .spot-content-top { width: 48%; margin: 0 4% 0 0 !important; }
	#spots.spot-grid > li h2 { font-size: 22px; line-height: 25px; }
	#spots.spot-grid > li .spot-content { display: none; }
	#spots.spot-grid > li .spot-search-fields-wrapper { width: 48%; }
	#spots.spot-grid > li .grid-only.read-more { margin-top: -10px; }
		
		
	/* ===== PAGINATION ===== */
	
	#pagination, #page-pagination { float: left; width: 100%; border-top-width: 4px; border-top-style: solid; list-style: none; padding: 0; margin: 15px 0 50px; }
	#pagination li, #page-pagination a, #page-pagination > span { float: left; }
	#pagination li a, #page-pagination a, #page-pagination > span { display: block; margin: -4px 0 0; padding: 13px 9px 8px; font-size: 14px; color: #484544; text-transform: uppercase; border-top: 4px solid transparent; font-weight: bold;
	-webkit-transition: all .13s ease-in-out; -moz-transition: all .13s ease-in-out; -ms-transition: all .13s ease-in-out; -o-transition: all .13s ease-in-out; transition: all .13s ease-in-out; }
	#pagination li a:hover, #page-pagination a:hover { border-color: rgba(0, 0, 0, .2); text-decoration: none; }
	.page-template-blog-php #pagination { margin-top: -25px; }
	
	.spots-alt #pagination { margin-top: -24px; }


	/* ==== SEARCH FIELDS ==== */
	
	.spot-search-fields { list-style: none; padding: 0; margin: 5px 0 0; }
	.spot-search-fields > li { font-size: 11px; line-height: 13px; text-transform: uppercase; margin: 0 0 5px; }
	.spot-search-fields > li > span { font-weight: bold; }
	.spot-search-fields > li i { display: inline-block; margin-left: -4px; }
	.spot-search-fields > li > i:first-child { margin-left: 20px; }
	
	
	/* ==== LOGO STYLE ==== */
	#spots.spot-list > li.spot-list-alt { margin-bottom: 20px; padding-bottom: 15px; }
	#spots.spot-list > li.spot-list-alt h2 { font-size: 24px; line-height: 28px; }
	#spots.spot-list > li.spot-list-alt .spot-content-top { width: 30.66%; }
	#spots.spot-list > li.spot-list-alt .spot-content { float: right; width: 65.33%; }
	#spots.spot-list > li.spot-list-alt .spot-content .read-more { display: none; }
	#spots.spot-list > li.spot-list-alt .spot-search-fields { float: left; width: 100%; margin-bottom: 10px; }
	#spots.spot-list > li.spot-list-alt .spot-search-fields > li { float: left; width: 50%; }
	#spots.spot-list > li.spot-list-alt.listing-featured { padding: 15px 20px 5px; background: rgba(0, 0, 0, .05);
	-webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
	
	.listing-featured-badge { display: block; font-size: 11px; text-transform: uppercase; line-height: 11px; margin: 5px 0 10px; }
	.listing-featured-badge span { font-weight: bold; padding: 3px 8px; color: white; }
	
	
	
/* SINGLE SPOT */

.spot-title { margin: 25px 0 0; }

#spot-gallery { float: left; width: 100%; margin: 0 0 30px; }
#spot-gallery-main { width: 100%; position: relative; height: 435px; float: left; margin: 0 0 15px; }
#spot-gallery-main img { display: block; position: absolute; left: 0; top: 0; }
#spot-gallery-thumbs { float: left; width: 100%; height: 81px; overflow: hidden !important; position: relative; }
#spot-gallery-thumbs ul { left: 0; top: 0; list-style: none; position: absolute; width: 3000px; margin: 0; padding: 0; }
#spot-gallery-thumbs ul li { float: left; width: 75px; height: 75px; margin: 0 8px 0 0; cursor: pointer; position: relative; border: 3px solid white;
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out;  }
#spot-gallery-thumbs ul li:hover { border-color: rgba(0, 0, 0, .2) !important; }
#spot-gallery-thumbs ul li.current { border-color: red; }

#spot-gallery-thumbs.align-center ul { position: relative; width: 100%; text-align: left; }
#spot-gallery-thumbs.align-center ul li { float: none; display: inline-block; }

h4.content-title { font-size: 16px; line-height: 20px; margin: 0 0 0; font-weight: bold; }
h5.content-address { font-size: 11px; margin: 2px 0 20px; line-height: 14px; }

.spot-custom-fields, .spot-search-fields { list-style: none; padding: 0; margin: 5px 0 25px; }
.spot-custom-fields li, .spot-search-fields li { font-size: 11px; line-height: 13px; margin: 0 0 5px; text-transform: uppercase; }
.spot-custom-fields strong { display: block; }

#listing-location { float: left; width: 100%; height: 200px; margin: 0 0 15px; }



	/* ===== MAP HEADER ===== */
	#header-map { float: left; width: 100%; height: 280px; position: relative; }
	#the-map { float: left; width: 100%; height: 280px; }
	#the-map-overlay { position: absolute; left: 0; top: 0; width: 100%; height: 280px; background: rgba(0, 0, 0, .1); border-bottom: 4px solid rgba(0, 0, 0, .3);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */ }
	
	.overlay-single-wrapper { width: 800px; }
	.overlay-single-wrapper .inside { position: absolute; left: 0; top: -55px; background: #484544; min-height: 75px; padding: 12px 40px 12px 50px; margin-left: 60px; z-index: 10;
	-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
	.overlay-single-wrapper .inside img { width: 95px; position: absolute; left: -62px; top: -10px; margin: 0;
	-webkit-border-radius: 95px; -moz-border-radius: 95px; -ms-border-radius: 95px; -o-border-radius: 95px; border-radius: 95px;
	/* -webkit-border-top-left-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-bottomleft: 2px; border-top-left-radius: 2px; border-bottom-left-radius: 2px; */ }
	.overlay-single-wrapper .inside .title { display: block; font-size: 24px; line-height: 27px; margin: 0 0 4px; }
	.overlay-single-wrapper .inside .address { display: block; font-size: 13px; line-height: 16px; }
	.overlay-single-wrapper .arrow-down { position: absolute; border-bottom: 8px solid transparent; border-top: 8px solid transparent; border-right: 8px solid black; left: -8px; top: -24px; width: 0; height: 0; box-sizing: content-box; -webkit-box-sizing: content-box; }
	
	.header-map-alt-list .inside img { display: none; }
	.header-map-alt-list .inside { padding-left: 20px; left: -60px; }
	
	
	
	/* ===== USER AREA ===== */
	
	#user-content { float: left; width: 100%; margin: 15px 0 0; padding: 38px 0 0; border-top-width: 4px; border-top-style: solid; }
	#user-content img { float: left; width: 120px; margin: 0 20px 0 0; }
	#user-content-area { margin: 0 0 0 140px; }
	#user-content-area h4 { font-size: 18px; line-height: 22px; }
	#user-content-area h5 { font-size: 11px; line-height: 14px; text-transform: uppercase; letter-spacing: 1px; margin: -8px 0 5px; }
	
	#user-content-area .user-info { margin-bottom: 10px; }
	#user-content-area .user-info > span { display: inline-block; margin: 0 20px 0 0; font-size: 12px; line-height: 14px; cursor: pointer; }
	#user-content-area .user-info > span:hover { text-decoration: underline; }
	#user-content-area p { font-size: 13px; line-height: 16px; }
	
	
	
	/* ===== REVIEWS ===== */
	#reviews, #post-review { float: left; width: 100%; margin: 30px 0 0; padding: 38px 0 0; border-top-width: 4px; border-top-style: solid; }
	#reviews h3, #post-review h3 { font-size: 24px; border: none; padding: 0; font-weight: normal; }
	
	#reviews ul { list-style: none; padding: 0; margin: 30px 0 0; }
	#reviews ul li { margin: 0 0 40px 0; }
	
	#reviews ul li .rating-user-info { float: left; width: 80px; margin: 0 15px 0 0; }
	#reviews ul li .rating-user-info img { -webkit-border-radius: 80px; -moz-border-radius: 80px; -ms-border-radius: 80px; -o-border-radius: 80px; border-radius: 80px; margin: 0 0 10px; display: block; }
	#reviews ul li .rating-user-info h5 { text-align: center; font-size: 16px; font-weight: bold; margin: 0 0 5px; line-height: 17px; }
	#reviews ul li .rating-user-info h6 { text-align: center; font-size: 12px; font-weight: normal; margin: 0; line-height: 14px; }
	
	#reviews ul li .rating-comment { float: left; width: 388px; background: #f0f0f0; padding: 15px 20px 4px; min-height: 122px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
	#reviews ul li .rating-comment h4 { margin: 2px 0 12px; font-size: 16px; line-height: 18px; font-weight: bold; }
	#reviews ul li .rating-comment p { font-size: 13px; line-height: 17px; }
	#reviews ul li .rating-comment .report-rating, #reviews ul li .rating-comment .trash-rating, #reviews ul li .rating-comment .restore-rating { font-size: 12px; line-height: 14px; margin: 0 15px -5px 0; }
	
	#reviews ul li .rating-values { float: right; }
	#reviews ul li .rating-values .overall-rating { display: block; font-size: 22px; margin: 0 0 5px; padding: 0 0 0 2px; }
	#reviews ul li .rating-values .overall-rating i { display: inline-block; margin: 0 0 0 -8px; }
	#reviews ul li .rating-values ul { list-style: none; padding: 0; margin: 0; }
	#reviews ul li .rating-values ul li { display: block; margin: 0 0 5px; padding-left: 2px; }
	#reviews ul li .rating-values ul li h5 { font-size: 11px; text-transform: uppercase; margin: 0 0 -9px -2px; font-weight: bold; margin-left: -2px; }
	#reviews ul li .rating-values ul li i { display: inline-block; margin: 0 0 0 -5px; font-size: 11px; }
	
	#post-review { margin: 40px 0 0; }
	#post-review h3 { margin-bottom: 20px; }
	.post-review-fields { float: left; }
	.post-review-fields p { margin-bottom: 10px; position: relative; }
	.post-review-fields small { top: 21px; }
	
	.post-review-ratings { float: right; }
	.post-review-ratings ul { list-style: none; margin: 0; padding: 0; }
	.post-review-ratings ul li { margin: 0 0 18px; position: relative; }
	.post-review-ratings ul li h4 { font-size: 16px; line-height: 18px; font-weight: normal; margin: 0 0 6px; }
	.post-review-ratings ul li .field-rating { display: block; margin: 0 0 1px; }
	.post-review-ratings ul li i { display: inline-block; margin: 0 0 0 -6px; font-size: 19px; line-height: 22px; opacity: .3; cursor: pointer; }
	.post-review-ratings ul li p { font-size: 12px; line-height: 14px; margin: 0 0 10px; }
	
	#reviews-load-more { height: 40px; }
	
	.spot-rating { margin: 5px 0 25px; }
	.spot-rating i { font-size: 26px; margin: 0 0 0 -8px; display: inline-block; }
	.spot-rating p { font-size: 12px; line-height: 14px; }
	
	.review-moderate .rating-comment { background: #ECD2CF !important; }



/* ==== BLOG ==== */

.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .bypostauthor {  }

h5.sticky { text-transform: uppercase; font-size: 11px; line-height: 19px; letter-spacing: 1px; margin: 0 0 20px; }
h5.sticky span { display: inline-block; padding: 2px 10px; color: white;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

div.sticky p { font-size: 110%; line-height: 170%; }

.aligncenter { margin: 0 auto; display: block; }
.alignleft { float: left; }
.alignright { float: right; }

.post { float: left; width: 100%; margin: 25px 0 20px 0; border-bottom-width: 3px; border-bottom-style: solid; padding-bottom: 20px; }
.post h2.post-title { font-size: 32px; line-height: 32px; margin-top: 5px; }
#main-content.post { border: none; }
.wp-caption { max-width: 100%; }

.post .button { margin-top: 10px; }

.post-image { float: left; width: 100%; margin: 0 0 20px; }

.post-info { border-top-width: 1px; border-top-style: solid; border-bottom-width: 1px; border-bottom-style: solid; padding: 0; font-size: 11px; line-height: 14px; padding: 10px 0; font-weight: normal; letter-spacing: 1px; text-transform: uppercase; margin: 20px 0 20px; }

.post-info .date { margin-right: 20px; display: inline-block; }
.post-info .author { margin-right: 20px; display: inline-block; }
.post-info .categories { display: block; border-top-width: 1px; border-top-style: solid; padding-top: 10px; }
.post-info .tags { display: block; border-top-width: 1px; border-top-style: solid; margin: 10px 0 0; padding: 10px 0 0; }
.post-info .comments { margin-bottom: 10px; display: inline-block; }
.post-info .comments, .post-info .comments a, .post-info .categories a, .post-info .tags a {  }
.post-info a, .post-info strong {  }
.post-info a:hover, .post-medium .categories a:hover, .post-small .categories a:hover { }

.post .button-primary { margin: 15px 0 0; }
	
	
	
	
	/* ==== COMMENTS ==== */
	
	#comments { float: left; width: 100%; margin: 25px 0 0; padding: 30px 0 0; border-top-width: 4px; border-top-style: solid; }
	
	#comments h3, #respond h3 { border: none; }
		
	#comments ol, #comments ul { list-style: none; }
	#comments ol { margin: 10px 0  0; padding: 15px 0 0 0; }
	
	#comments ol > li { display: block; margin: 0 0 15px 0; padding-bottom:10px 15px 0;background: rgba(0, 0, 0, .05); padding: 15px; }
	#comments ol ul { margin: 10px 0 0 10px; padding: 10px 0 0 0; border-top-width: 3px; border-top-style: solid; border-left-width: 1px; border-left-style: solid; }
	#comments ol ul li { padding: 15px 0 15px 0; padding-left: 15px; }
	
	#comments .comment-info { float: left; width: 70px; padding: 15px 10px 0 10px; background: url(images/comment-info-bg.png) no-repeat top right; }
	#comments .comment-info img { margin-bottom: 12px; }
	
	#comments .author, #comments .author a, #comments .date { font-size: 11px; text-transform: uppercase; float: left; margin: 1px 20px 0 0; letter-spacing: 1px; }
	#comments .author a { margin: 0; }
	
	#comments .comment-content { padding: 10px 0 0 75px; }
	
	#comments .reply a { display: block; font-size: 12px; text-transform: uppercase; letter-spacing: 1px; text-decoration: none; }
	
	#respond { float: left; width: 100%; }
	#respond .post-border-bottom { margin: -30px 0 30px -40px; }
	#comments #respond { margin-bottom: 30px !important; }
	
	#respond textarea { width: 97.5%; }
	
	#comments h4 { margin-bottom: .8em; }
	#respond h4 { margin-bottom: 0; }
	
	.comment-pagination { margin: 20px 0 0; font-weight: bold; }
	
	#commentform input { width: 60%; }
	#commentform label span { margin: 0; font-size: 14px; }
	
	
	
	
/* ===== FOOTER	===== */

#footer { float: left; width: 100%; padding: 35px 0 50px 0; border-top-style: solid; border-top-width: 4px; }
#footer h4 { font-size: 20px; line-height: 24px; }

#copyright { float: left; width: 100%; padding: 20px 0 24px; border-top-style: solid; border-top-width: 4px; }
#copyright p { margin: 0; }


/* ==== INPUTS ==== */

form > p { position: relative; }

label { text-transform: uppercase; font-weight: bold; letter-spacing: 1px; font-size: 12px; line-height: 15px; margin: 0 0 4px; display: block; }
label > span { display: inline-block; margin-left: 15px; font-weight: 300; font-size: 11px; }
label.check-label { font-size: 12px; }
label .range-label i { display: inline-block; margin: 0 0 0 -3px; }
label .range-label .to { display: inline-block; margin: 0 5px 0 3px; }

input { display: block; width: 94.6%; padding: 0 8px; border: none; min-height: 34px; font-family: inherit; color: black; font-size: 13px !important; margin: 0 0 4px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .15); box-shadow: 0 1px 3px rgba(0, 0, 0, .15); }
textarea { font-size: 13px !important; }
.error input, input.error, .error textarea, textarea.error, ul.error, select.error { border-color: #e04b52 !important; }

.form-divider { clear: both; width: 100%; height: 1px; overflow: hidden; background: rgba(0, 0, 0, .15); margin: 14px 0; }

.select-replace select { margin: 0; width: 100%; height: 34px; display: none; cursor: pointer; position: absolute; left: 0; top: 0; width: 100%; background: white; z-index: 10; }
.select-replace { display: block; position: relative; }
.select-replace > span { font-size: 13px; color: black; background: white; font-family: inherit; line-height: 34px; display: block; padding: 0 30px 0 8px; position: relative;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
-webkit-transition: opacity .12s ease-in-out; -moz-transition: opacity .12s ease-in-out; -ms-transition: opacity .12s ease-in-out; -o-transition: opacity .12s ease-in-out; transition: opacity .12s ease-in-out;
white-space:pre; overflow: hidden; }


.checkbox-replace { float: left; width: 13px; height: 13px; background: white; margin: 0 6px 0 0; cursor: pointer; position: relative;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
-webkit-transition: opacity .12s ease-in-out; -moz-transition: opacity .12s ease-in-out; -ms-transition: opacity .12s ease-in-out; -o-transition: opacity .12s ease-in-out; transition: opacity .12s ease-in-out; }
.checkbox-replace i { color: black; position: absolute; font-size: 11px; left: -1px; top: -3px; display: none; }
.checkbox-replace-checked i { display: block; }
#search-spots .checkbox-replace input  { display: none !important; }


.radio-replace { float: left; width: 13px; height: 13px; background: white; margin: 0 6px 0 0; cursor: pointer; position: relative;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
-webkit-border-radius: 13px; -moz-border-radius: 13px; -ms-border-radius: 13px; -o-border-radius: 13px; border-radius: 13px;
-webkit-transition: opacity .12s ease-in-out; -moz-transition: opacity .12s ease-in-out; -ms-transition: opacity .12s ease-in-out; -o-transition: opacity .12s ease-in-out; transition: opacity .12s ease-in-out; }
.radio-replace i { color: black; position: absolute; font-size: 11px; left: -1px; top: -3px; display: none; }
.radio-replace-checked i { display: block; }

.select-replace i { position: absolute; right: 15px; top: 8px; opacity: .5; width: 10px; height: 5px; z-index: 9; color: black; font-size: 10px; }

.the-field-range { display: block; width: 100%; height: 33px; position: relative; }
.field-range { display: block; width: 100%; height: 4px; background: white; background:rgba(255, 255, 255, .5); position: absolute; top: 15px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .1); box-shadow: 0 1px 3px rgba(0, 0, 0, .1); }
.field-range .ui-slider-handle { width: 16px; height: 16px; background: black; position: absolute; top: -6px; outline: none; margin-left: -8px;
-webkit-border-radius: 17px; -moz-border-radius: 17px; -ms-border-radius: 17px; -o-border-radius: 17px; border-radius: 17px;
-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .3); -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .3); -ms-box-shadow: 0 0 0 3px rgba(0, 0, 0, .3); -o-box-shadow: 0 0 0 3px rgba(0, 0, 0, .3); box-shadow: 0 0 0 3px rgba(0, 0, 0, .3); }
.field-range .ui-slider-handle.ui-state-active {
-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .5); -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .5); -ms-box-shadow: 0 0 0 3px rgba(0, 0, 0, .5); -o-box-shadow: 0 0 0 3px rgba(0, 0, 0, .5); box-shadow: 0 0 0 3px rgba(0, 0, 0, .5); }
.field-range .ui-widget-header { background: white; position: absolute; top: 0; height: 4px; }

/* form p.error small { position: absolute; left: 100%; width: 20%; padding: 7px 9px; bottom: 1px; margin: 0 0 0 10px; display: none;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
form p.error small:after { content: ""; display: block; position: absolute; width: 0; height: 0; left: -5px; top: 50%; margin-top: -5px; border-right: 5px solid #c60f13; border-top: 5px solid transparent; border-bottom: 5px solid transparent; } */
form p.error small, small.error { background-color: #e04b52; }
small.error { padding: 7px 9px; display: block;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
small.success { background: #80a722; font-size: 11px; color: white; padding: 7px 9px; display: block; margin: 0 0 1em;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
small.tooltip { position: absolute; left: 100%; top: 0; margin: 0 0 0 10px; white-space: nowrap; padding: 4px 9px; display: none; z-index: 1000; }
small.tooltip.left:after { content: ""; position: absolute; left: -5px; top: 50%; width: 0; height: 0; border-right: 5px solid #e04b52; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin-top: -5px; }
small.tooltip.right { left: auto; right: 100%; margin-left: 0; margin-right: 10px; }
small.tooltip.right:after { content: ""; position: absolute; right: -5px; top: 50%; width: 0; height: 0; border-left: 5px solid #e04b52; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin-top: -5px; }
small.tooltip.bottom { top: 100%; left: 0; margin: 15px 0 0; width: 100%; }
small.tooltip.bottom:after { content: ""; position: absolute; left: 15px; top: -5px; width: 0; height: 0; border-bottom: 5px solid #e04b52; border-left: 5px solid transparent; border-right: 5px solid transparent; }

input.big-input { line-height: 34px !important; min-height: 34px !important; font-size: 14px !important; }
input.small-input { min-height: 22px !important; line-height: 22px !important; font-size: 12px !important; height: 2.1em !important; padding: 0 8px !important; }




/* ==== USER PANEL ==== */

#user-spots-header { list-style: none; padding: 0; margin: -20px 0 0; background: black; border-bottom: 1px solid #d0d0d0; padding: 7px 0; font-size: 15px; font-weight: 600; }
#user-spots { list-style: none; margin: 0 0 40px; padding: 0; }
#user-spots li { border-bottom: 1px solid #d0d0d0; padding: 12px 0; }
#user-spots li a.edit-post { font-size: 18px; font-weight: 600; line-height: 22px; }
#user-spots li .spot-date, #user-spots li .spot-status { font-size: 12px; margin-top: 2px; }
#user-spots li .spot-status { font-weight: bold; text-transform: uppercase; }
#user-spots .spot-title { margin-top: 0; }

#message { float: left; width: 100%; background: #d0d0d0; padding: 35px 0; font-size: 20px; font-weight: 300;
-webkit-box-shadow: inset 0 4px 0 rgba(0, 0, 0, .1); -moz-box-shadow: inset 0 4px 0 rgba(0, 0, 0, .1); -ms-box-shadow: inset 0 4px 0 rgba(0, 0, 0, .1); -o-box-shadow: inset 0 4px 0 rgba(0, 0, 0, .1); box-shadow: inset 0 4px 0 rgba(0, 0, 0, .1); }
#message.error { background: #e04b52; color: white; }
#message.success { background: #8cbc38; color: white; }
#message div { position: relative; }
#message i { font-size: 40px; color: rgba(255, 255, 255, .4); position: absolute; left: 0; margin-top: -20px; top: 50%; }
#message span { padding-left: 40px; display: block }

h5.sticky-featured { margin: 0 0 5px; }
h5.sticky-featured span { padding: 3px 6px; color: white; font-weight: bold; font-size: 10px; text-transform: uppercase; letter-spacing: 1px;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

._sf_box { display: block; margin: 0 0 20px; }
._sf_box .head { border: 1px solid #d0d0d0; background: #f2f2f2; padding: 8px 15px; text-transform: uppercase; font-weight: bold;
-webkit-border-top-left-radius: 2px;-webkit-border-top-right-radius: 2px;-moz-border-radius-topleft: 2px;-moz-border-radius-topright: 2px;border-top-left-radius: 2px;border-top-right-radius: 2px; }
._sf_box .inside { background: white; border: 1px solid #d0d0d0; border-top: 0; padding: 15px; position: relative;
-webkit-border-bottom-right-radius: 2px;-webkit-border-bottom-left-radius: 2px;-moz-border-radius-bottomright: 2px;-moz-border-radius-bottomleft: 2px;border-bottom-right-radius: 2px;border-bottom-left-radius: 2px; }
._sf_box .inside em { font-size: 12px; opacity: .7; line-height: 14px; display: block; }
._sf_box_accordion { margin-bottom: 0; margin-top: -1px; }
._sf_box_accordion .head { cursor: pointer; -webkit-border-top-left-radius: 0;-webkit-border-top-right-radius: 0;-moz-border-radius-topleft: 0;-moz-border-radius-topright: 0;border-top-left-radius: 0;border-top-right-radius: 0;  }
._sf_box_accordion:first-child .head {-webkit-border-top-left-radius: 2px;-webkit-border-top-right-radius: 2px;-moz-border-radius-topleft: 2px;-moz-border-radius-topright: 2px;border-top-left-radius: 2px;border-top-right-radius: 2px; }
._sf_box_accordion:last-child .head {-webkit-border-bottom-right-radius: 2px;-webkit-border-bottom-left-radius: 2px;-moz-border-radius-bottomright: 2px;-moz-border-radius-bottomleft: 2px;border-bottom-right-radius: 2px;border-bottom-left-radius: 2px; }
._sf_box_accordion .inside { -webkit-border-bottom-right-radius: 0;-webkit-border-bottom-left-radius: 0;-moz-border-radius-bottomright: 0;-moz-border-radius-bottomleft: 0;border-bottom-right-radius: 0;border-bottom-left-radius: 0; }
._sf_box_accordion:last-child .inside { -webkit-border-bottom-right-radius: 2px;-webkit-border-bottom-left-radius: 2px;-moz-border-radius-bottomright: 2px;-moz-border-radius-bottomleft: 2px;border-bottom-right-radius: 2px;border-bottom-left-radius: 2px; }

#_sf_spot { margin: 35px 0 0; }
.rel { position: relative; }
input.spot_title { font-size: 18px !important; }
#wp-_sf_spot_content-wrap * { box-sizing: content-box; -webkit-box-sizing: content-box; }
#wp-_sf_spot_content-wrap table { background: none; }
#qt__sf_spot_content_toolbar input { width: auto;
-webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; }
#qt__sf_spot_content_toolbar *, #_sf_spot_content { box-sizing: border-box; -webkit-box-sizing: border-box; }
#_sf_spot_content { min-height: 300px; background: white; }

#_sf_gallery em { display: block; margin-top: 8px; }
#_sf_gallery_images { background: rgba(0, 0, 0, .08); padding: 10px 10px 0; list-style: none; margin: 15px 0 0; min-height: 50px;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
#_sf_gallery_images li { display: inline-block; margin: 0 6px 6px 0; width: 100px; height: 100px; position: relative; }
#_sf_gallery_images li img { display: block; cursor: move;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
#_sf_gallery_images li .remove { position: absolute; width: 27px; text-align: center; background: #c23d43; color: white; line-height: 27px; z-index: 10; height: 27px; top: 3px; right: 3px; display: none; cursor: pointer;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
#_sf_gallery_images li:hover { }
#_sf_gallery_images li:hover .remove { display: block; }
#_sf_gallery_images li.ui-sortable-placeholder { background: rgba(0, 0, 0, .1) !important; border-style: dashed !important; visibility: visible !important; border-color: rgba(0, 0, 0, .2) !important;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

#_sf_categories_box { list-style: none; padding: 10px 10px 0; margin: 0; background: rgba(0, 0, 0, .05); border: 1px solid #d0d0d0;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
#_sf_categories_box li { font-size: 13px; line-height: 16px; display: block; clear: both; margin: 0 0 10px; }
#_sf_categories_box li .checkbox-replace { border: 1px solid #d0d0d0; width: 17px; height: 17px; margin-right: 7px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .08); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .08); -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, .08); -o-box-shadow: 0 1px 2px rgba(0, 0, 0, .08); box-shadow: 0 1px 2px rgba(0, 0, 0, .08); }
#_sf_categories_box li .checkbox-label { cursor: pointer; user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
#_sf_categories_box li .checkbox-replace i { left: 0; top: 0; }
#_sf_categories_box li .radio-replace { border: 1px solid #d0d0d0; width: 17px; height: 17px; margin-right: 7px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .08); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .08); -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, .08); -o-box-shadow: 0 1px 2px rgba(0, 0, 0, .08); box-shadow: 0 1px 2px rgba(0, 0, 0, .08); }
#_sf_categories_box li .radio-label { cursor: pointer; user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
.radio-replace i { left: 50%; top: 50%; width: 7px; height: 7px; background: black; margin: -4px 0 0 -3px;
-webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; }
#_sf_categories_box ul { margin: 12px 0 15px 10px; }

#_sf_tags_list { list-style: none; padding: 0; margin: 10px 0 15px; }
#_sf_tags_list li { display: inline-block; margin: 0 10px 5px 0; font-size: 12px; line-height: 15px; position: relative; padding-left: 15px; }
#_sf_tags_list li span { width: 12px; height: 12px; background: rgba(0, 0, 0, .2); position: absolute; left: 0; top: 2px; color: white; text-align: center; cursor: pointer;
-webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px; border-radius: 12px;
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out; }
#_sf_tags_list li span i { font-size: 6px; line-height: 12px; position: absolute; left: 50%; margin: 0 0 0 -4px; top: 0px; }
#_sf_tags_list li span:hover { background: rgba(0, 0, 0, .4) }

#_sf_location_map { width: 100%; height: 130px; margin-bottom: 20px; }
#_sf_location_map img { max-width: none !important; }

#content .select-replace span { border: 1px solid #d0d0d0; line-height: 28px; }
select[multiple="multiple"] { border: 1px solid #d0d0d0; padding: 3px;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

._sf_box .the-field-range { float: left; width: 70%; margin-left: 4%; }
._sf_label_range { float: right; width: 20%; font-size: 18px; line-height: 32px; font-weight: 300; }
.the-field-range .tooltip { top: 3px; margin-right: 20px; }

._sf_switch { display: block; width: 107px; height: 36px; background: url(images/icons/switch-off.png) no-repeat top left; cursor: pointer; position: relative; margin: 0 0 10px 0; }
._sf_switch_handle { background: url(images/icons/switch.png) no-repeat top left; width: 54px; height: 32px; position: absolute; right: 51px; top: 2px; z-index: 10; }
._sf_switch_on { position: absolute; left: 0; top: 0; width: 107px; height: 36px; background: url(images/icons/switch-on.png) no-repeat top left; display: none; }
._sf_switch_checked ._sf_switch_on { display: block; }
._sf_switch input { display: none; }
._sf_switch_checked ._sf_switch_handle { right: 2px; }

#_sf_custom_fields {  }
#_sf_custom_fields_list, ._sf_submission_field_file_list { list-style: none; padding: 10px 10px 0; margin: 0; background: rgba(0, 0, 0, .05); border: 1px solid #d0d0d0; min-height: 180px;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
#_sf_custom_fields_list li._sf_box, ._sf_submission_field_file_list li._sf_box { margin-bottom: 10px; }
#_sf_custom_fields_list li._sf_box p, #_sf_custom_fields_list li._sf_box input,
._sf_submission_field_file_list li._sf_box input { margin-bottom: 0; }
#_sf_custom_fields_list li._sf_box .inside, ._sf_submission_field_file_list .inside { display: none; }
#_sf_custom_fields_list li._sf_box .head, ._sf_submission_field_file_list .head { position: relative; cursor: move; }
#_sf_custom_fields_list li._sf_box .close, ._sf_submission_field_file_list .close { border-left: 1px solid #d0d0d0; position: absolute; right: 0; top: 0; width: 40px; height: 100%; text-align: center; cursor: pointer;
t-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out; }
#_sf_custom_fields_list li._sf_box .close i, ._sf_submission_field_file_list .close i { font-size: 14px; position: absolute; left: 50%; top: 50%; line-height: 14px; margin: -7px 0 0 -9px; }
#_sf_custom_fields_list li._sf_box .close:hover, ._sf_submission_field_file_list .close:hover { background: rgba(0, 0, 0, .1); }
#_sf_custom_fields_list li.ui-sortable-placeholder, ._sf_submission_field_file_list li.ui-sortable-placeholder { background: rgba(0, 0, 0, .1) !important; border: none !important; visibility: visible !important;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

._sf_submission_field_file_list { min-height: 40px; margin-top: 15px; }
._sf_submission_file_description { text-align: center; }
._sf_submission_file_description i { font-size: 46px; line-height: 40px; display: block; margin: 10px 0 7px; }
._sf_submission_file_description span { display: block; font-size: 13px; line-height: 16px; }
._sf_submission_field_file_list li._sf_box p { margin-bottom: .75em; }
._sf_box_clone { display: none !important; }
._sf_submission_field_file_list .head { cursor: default; }

#submit-cart { background: #dfdfdf; padding: 15px 0; min-height: 50px; display: none; margin: 0 0 30px;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.cart-items { list-style: none; padding: 0 0 0 15px; margin: -10px 0; }
.cart-items > li { border-bottom: 1px solid #ccc; padding: 10px 10px 10px 35px; position: relative; }
.cart-items > li:last-child {  border-bottom-width: 0; }
.cart-items .cart-trash { position: absolute; left: 5px; top: 50%; cursor: pointer; margin-top: -12px; }
#submit-cart h3 { font-size: 16px; font-weight: bold; margin: 0 0 0 15px; padding: 0; }
.cart-items h4 { margin: 0; font-size: 14px; font-weight: bold; }
.cart-items h5 { margin: -3px 0 0; font-size: 11px; font-weight: normal; }
.cart-items .price { position: absolute; right: 10px; font-size: 14px; font-weight: bold; top: 50%; margin-top: -5px; }
.cart-items .price > span { font-size: 10px; text-transform: uppercase; letter-spacing: 1px; font-weight: normal; position: absolute; right: 0; bottom: 18px; min-width: 120px; text-align: right; }
.cart-items .price span .checkbox-replace { float: right; display: inline; margin: 0 0 0 6px; }
.cart-items .price span .checkbox-replace i { top: -2px; }
#submit-cart .total { text-align: right; padding: 0 20px 0 0; font-size: 15px; margin: 0 0 10px; }
#submit-cart .total span { display: inline-block; margin: 0 0 0 20px; font-weight: bold; }
#submit-cart .cart-info { font-size: 11px; text-align: right; padding: 0 20px 0 20%; line-height: 14px; margin: 0; }
#cart-checkout { float: right; margin: 15px 20px 0; }
.cart-items li.not-trash { padding-left: 10px; }
.cart-items li.not-trash .cart-trash { display:none; }
._sf_us_addtocart { font-style: italic; font-size: 12px; font-weight: bold; cursor: pointer; }
._sf_us_addtocart em { font-style: italic; font-size: 12px; font-weight: bold; cursor: pointer; }
._sf_us_addtocart_over { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #eaeaea; background: rgba(200, 200, 200, .7); z-index: 2000; cursor: pointer;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
._sf_us_addtocart_over span { position: absolute; width: 90%; left: 15px; top: 50%; margin-top: -10px; font-weight: bold; font-size: 12px; text-transform: uppercase; font-style: italic; }
._sf_us_addtocart_over em { position: absolute; width: 90%; left: 15px; top: 50%; margin-top: -10px; font-weight: bold; font-size: 12px; text-transform: uppercase; line-height: 19px !important; opacity: 1 !important; display: none; }
.custom-pin-field { position: relative; }
._sf_recurring_tooltip { position: absolute; left: 50%; top: 26px; width: 150px; padding: 6px 10px; margin-left: -22px; background: #222222; color: white; display: none; z-index: 1000;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; text-align: center; font-size: 11px; line-height: 13px; text-transform: none; letter-spacing: normal; }
._sf_recurring_tooltip .arrow { position: absolute; border-bottom: 6px solid black; border-left: 6px solid transparent; border-right: 6px solid transparent; width: 0; height: 0; top: -6px; left: 50%; margin-left: -6px; }
#submit-cart .price input { display: none; }

.upload-bar-file { float: left; width: 100%; font-size: 12px; margin: 15px 0 5px; }
.upload-bar { float: left; width: 100%; height: 6px; background: rgba(0, 0, 0, .1); position: relative; margin: 0;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.upload-bar span { position: absolute; left: 0; top: 0; width: 6px; height: 6px; background: rgba(0, 0, 0, .1);
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out; 
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

#page-views { float: left; width: 100%; margin: 0 0 40px; height: 300px; }
#page-view-labels { margin: 20px 0 30px; padding: 10px 0 5px 15px;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
#page-view-labels ul { list-style: none; margin: 0; padding: 0; float: left; width: 100%; }
#page-view-labels ul li { float: left; margin: 0 25px 5px 0; cursor: pointer; }
#page-view-labels ul li { user-select: none; -o-user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }

#spot-views-tooltip { position: absolute; left: 0; top: 0; z-index: 3000; width: 300px; text-align: center; }
#spot-views-tooltip > div { position: absolute; bottom: 20px; left: -150px; width: 300px; }
#spot-views-tooltip > div .content { background: black; display: inline-block; margin: 0 auto; padding: 8px 20px 8px 10px; color: white; width: auto; font-size: 12px;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
#spot-views-tooltip > div .arrow { border-top: 8px solid black; border-left: 8px solid transparent; border-right: 8px solid transparent; position: absolute; left: 50%; bottom: -8px; margin: 0 0 0 -8px; }
#spot-views-tooltip > div .content span { display: block; text-align: left; }
#spot-views-tooltip > div .content span { text-transform: uppercase; font-size: 9px; line-height: 14px; letter-spacing: 1px; }
#spot-views-tooltip > div .content span strong { font-weight: normal; }
#spot-views-tooltip > div .content span big { font-size: 13px; line-height: 14px; text-transform: none; font-weight: bold; display: block; margin-bottom: 3px; } 

#_sf_tooltip_wrapper { position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, .5); z-index: 2100; display: none; }
#_sf_tooltip_wrapper ._sf_tooltip_wrapper { position: absolute; }

#_sf_tooltip_wrapper .inside { position: relative; background: black; padding: 5px;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
#_sf_tooltip_wrapper .inside > i { position: absolute; left: 10px; top: -8px; font-size: 24px; }
#_sf_tooltip_wrapper .right-align .inside > i { left: auto; right: 10px; }
#_sf_tooltip_wrapper .inside .left { float: left; width: 45px; text-align: center; font-size: 30px; padding: 20px 0 0; font-weight: 300; }
#_sf_tooltip_wrapper .inside .right { float: none !important; margin: 0 0 0 50px; }
#_sf_tooltip_wrapper .inside .content { background: white; margin: 0 0 5px 0; padding: 15px 15px 5px;
-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
#_sf_tooltip_wrapper .inside .content h4 { font-size: 22px; line-height: 24px; margin: 2px 0 12px; font-weight: 600; }
#_sf_tooltip_wrapper .inside .right span { font-size: 10px; line-height: 12px; text-transform: uppercase; letter-spacing: 1px; float: left; margin: 4px 0 3px; cursor: pointer; }
#_sf_tooltip_wrapper .inside .right span.next { float: right; }
#_sf_tooltip_wrapper .inside .right span.prev { float: right; margin-right: 15px; }

._sf_range_input { float: right !important; width: 23% !important; }

#_sf_user_profile { margin: 18px 0 20px; height: 108px; }

#_sf_user_profile_image { float: left; width: 92px; margin-right: 15px; height: 108px; }
#_sf_user_profile_image img { display: block; width: 100%; }

#_sf_user_profile h4 { font-size: 16px; font-weight: bold !important; }
#_sf_user_profile .button-secondary { margin-bottom: 5px; cursor: pointer; }

#user_description { height: 107px; }

#_sf_user_profile_public { padding: 11px 10px 10px; font-size: 12px; line-height: 16px; margin: 1px 0 0;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }


/* ===== LOCAL SHORTCODES ===== */

.spots-short { margin: 1.5em 0; }
.spots-short  ul { list-style: none; padding: 0; margin: 0; }
.spots-short .spot-cats { display: block; margin: 7px 0 -12px; font-size: 12px; text-transform: uppercase; }
.spots-short .spot-cats img { display: block; }
.spots-short ul li { margin-bottom: 2em; }
.spots-short ul h2 { margin-top: .5em; }
.spots-short p { margin: 0 0 1em; }
.spots-short-slider { position: relative; overflow: hidden; }
.spots-short-slider ul li, .spots-short-slider ul li.last { margin-right: 30px !important; }
.spots-short-slider ul li a.button-primary { margin: 1.5em 0 0;}
.spots-short .mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail { height: 7px; background: rgba(0, 0, 0, .2) }
.spots-short .mCSB_scrollTools { width: 50% !important; left: 25% !important; }
.spots-short .mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { height: 7px; background: rgba(0, 0, 0, .2) }
.spots-short .mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger { top: 1px; }

#wp-calendar { width: 100%; }
#wp-calendar td { line-height: 1.5em; }



/* ==== NOTIFY ME ==== */

#notify-me-signup { position: absolute; left: 0; top: 0; background: black; background: rgba(0, 0, 0, .6); width: 100%; z-index: 2000; display: none; }
#notify-me-signup > div { width: 100px; height: 100px; margin: 100px auto 0; background: black; background: rgba(0, 0, 0, .3); padding: 5px;
-webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; }
#notify-me-signup > div > .inside { background: white; min-height: 100%; padding: 0 15px 1px; text-align: center;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
#notify-me-signup > div > .inside > * { display: none; }

#notify-me-signup > div > .inside h2 { margin-top: 0; font-size: 16px; text-transform: uppercase; background:#e6e6e6; background: rgba(0, 0, 0, .1); padding: 10px 0; margin-left: -15px; margin-right: -15px; font-weight: bold; border-bottom: 2px solid #dbdbdb; border-bottom-color: rgba(0, 0, 0, .05); position: relative; }
#notify-me-signup > div > .inside h2 i { position: absolute; right: 10px; top: 50%; margin: -10px 0 0; font-size: 20px; line-height: 20px; color: black; color: rgba(0, 0, 0, .5); cursor: pointer;
-webkit-transition: all .11s ease-in-out; -moz-transition: all .11s ease-in-out; -ms-transition: all .11s ease-in-out; -o-transition: all .11s ease-in-out; transition: all .11s ease-in-out;  }
#notify-me-signup > div > .inside h2 i:hover { color: rgba(0, 0, 0, .8) }

#notify-me-signup > div > .inside em { font-size: 12px; line-height: 14px; margin: 1.5em 0 1em; display: block; border-bottom: 1px solid #dbdbdb; padding-bottom: 15px; }
#notify-me-signup > div > .inside input { text-align: center; }

#notify-filters { list-style: none; margin: -5px 0 1em; padding: 0; float: left; text-align: center; width: 100%; }
#notify-filters li { display: inline-block; margin: 0 5px 0; font-size: 12px; line-height: 14px; line-height: 14px; }
#notify-filters li i { cursor: pointer; }
	
	
	
	
	/* ===== WIDGETS ===== */
	
	/* ul.latest-news { list-style: none; padding: 0; margin: 0; }
	ul.latest-news li { float: left; width: 100%; margin: 5px 0 15px; }
	ul.latest-news li a { text-transform: none; border: none; }
	ul.latest-news li .news-image { float: left; margin: 0 12px 6px 0; }
	ul.latest-news li .news-image img { display: block; }
	ul.latest-news li p a { color: #484544; font-size: 13px; font-weight: normal; line-height: 15px; }
	.sidebar-item ul.latest-news > li a { display: inline; font-size: 13px; text-transform: none; font-weight: normal; left: auto; line-height: inherit; padding: 0; border-bottom: none; color: #484544; border: none; }
	.sidebar-item ul.latest-news > li:first-child a { border-top: none; }
	.sidebar-item ul.latest-news > li a:hover { background: inherit; }
	.sidebar-item ul.latest-news li h5 { font-size: 15px; font-weight: 700; margin: 0 0 8px; }
	.sidebar-item ul.latest-news li h5 a { color: #484544; font-size: 15px; font-weight: 700; }
	ul.latest-news li h5 { font-size: 15px; font-weight: 700; margin: 0 0 8px; }
	ul.latest-news li h5 a { color: #484544; font-size: 15px; font-weight: 700; } */
	
	ul.latest-news li { padding: 15px 0; }
	ul.latest-news img { width: 75px; float: left; }
	ul.latest-news h5 { margin: 5px 0 0 90px; font-size: 14px; line-height: 17px; }
	ul.latest-news h6 { margin: 5px 0 0 90px; font-size: 12px; line-height: 14px; font-weight: 300; }
	ul.latest-news li:first-child { padding-top: 10px; }
	ul.latest-news li:last-child { padding-bottom: 0; }
	
	ul.related-spots li { padding: 15px 0; }
	ul.related-spots img { width: 75px; float: left; }
	ul.related-spots h4 { margin: 5px 0 0 90px; font-size: 18px; line-height: 19px; }
	ul.related-spots h5 { margin: 10px 0 0 90px; font-size: 14px; line-height: 16px; font-weight: 300; }
	ul.related-spots li:first-child { padding-top: 10px; }
	ul.related-spots li:last-child { padding-bottom: 0; }
	ul.related-spots li.no-image h4, ul.related-spots li.no-image h5 { margin-left: 0; }
	
	ul.popular-spots li { padding: 15px 0; }
	ul.popular-spots img { width: 75px; float: left; }
	ul.popular-spots h4 { margin: 5px 0 0 90px; font-size: 18px; line-height: 19px; }
	ul.popular-spots h5 { margin: 10px 0 0 90px; font-size: 14px; line-height: 16px; font-weight: 300; }
	ul.popular-spots li:first-child { padding-top: 10px; }
	ul.popular-spots li:last-child { padding-bottom: 0; }
	ul.popular-spots.alt-popular-spots h4, ul.popular-spots.alt-popular-spots h5 { margin-left: 0; }
	ul.popular-spots li.no-image h4, ul.popular-spots li.no-image h5 { margin-left: 0; }
	
	ul.recently-viewed li { padding: 15px 0; }
	ul.recently-viewed img { width: 75px; float: left; }
	ul.recently-viewed h4 { margin: 5px 0 0 90px; font-size: 18px; line-height: 19px; }
	ul.recently-viewed h5 { margin: 10px 0 0 90px; font-size: 14px; line-height: 16px; font-weight: 300; }
	ul.recently-viewed li:first-child { padding-top: 10px; }
	ul.recently-viewed li:last-child { padding-bottom: 0; }
	ul.recently-viewed li.no-image h4, ul.recently-viewed li.no-image h5 { margin-left: 0; }
	
	#footer ul.related-spots li, #footer ul.related-spots li, #footer ul.popular-spots li { border-bottom: 1px solid rgba(255, 255, 255, .1) }
	#footer ul.related-spots li:last-child, #footer ul.related-spots li:last-child, #footer ul.popular-spots li:last-child { border-bottom: none; }
	
	._sf_login_sign_up_widget { float: left; width: 100%; }
	._sf_login_sign_up_widget .tabs { list-style: none; padding: 0; margin: 20px 0 0; position: relative; z-index: 10; }
	._sf_login_sign_up_widget .tabs li { float: left; width: 50%; font-size: 14px; line-height: 43px; font-weight: bold; letter-spacing: 1px; text-transform: uppercase; text-align: center; border: 1px solid transparent; border-top: 4px solid transparent; cursor: pointer; }
	._sf_login_sign_up_widget .tabs li.current { background: white; border-bottom-color: transparent !important; }
	._sf_login_sign_up_widget .tabs li.other { border-top: none; border-left: none; border-right: none; padding: 4px 1px 0 1px; }
	._sf_login_sign_up_widget .tabbed { list-style: none; padding: 0; margin: 0 0 1.5em; }
	._sf_login_sign_up_widget .tabbed li { display: block; padding: 20px 20px 0; border: 1px solid transparent; border-top: none; display: none;
	-webkit-border-bottom-right-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-bottomright: 3px;-moz-border-radius-bottomleft: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px; }
	._sf_login_sign_up_widget .tabbed li.current { display: block; }
	._sf_login_sign_up_widget .small { font-size: 11px; }
	._sf_login_sign_up_widget .tabbed li .error { margin: 0; }
	._sf_login_sign_up_widget span.button-facebook { font-size: 12px !important; background: #365ea4; color: white; cursor: pointer; }
	._sf_login_sign_up_widget span.button-facebook:hover { background: #294c92; opacity: 1; }
	._sf_login_sign_up_widget span.button-facebook i { display: inline-block; margin: 0 5px 0 -5px; }
	
	.select-replace select { -webkit-appearance: menulist-button; }
	
	#header-space { float: left; width: 100%; margin: 0 0; }
	
	/* ===== GOOGLE PALCES ===== */
	.pac-container { z-index: 30000 !important; }
	
	
	
	/* ===== SUBMISSION FIELDS ===== */
	.submission-field-text, .submission-field-select, .submission-field-file { display: block; margin: 0 0 15px; padding: 10px; float: left; width: 100%;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
	.one-fourth .submission-field-text, .one-fourth .submission-field-select, .one-fourth .submission-field-file { font-size: 12px; }
	
	.submission-field-file ul { list-style: none; padding: 0; margin: 0; }
	.submission-field-file ul li { margin: 5px 0; border-top-width: 2px; border-top-style: solid; padding: 15px 0 0; margin: 15px 0 10px; }
	.submission-field-file ul li .one-fifth { text-align: center; font-size: 11px; line-height: 14px; }
	.submission-field-file ul li .one-fifth i { font-size: 42px; display: block; }
	.submission-field-file ul li .one-fifth span { display: block; }
	.submission-field-file ul li p, .submission-field-file ul li h4 { margin-bottom: 0; }