@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-2449:before {
	content: "\e000";
}
.flaticon-black218:before {
	content: "\e001";
}
.flaticon-facebook30:before {
	content: "\e002";
}
.flaticon-locked59:before {
	content: "\e003";
}
.flaticon-phone325:before {
	content: "\e004";
}
.flaticon-right176:before {
	content: "\e005";
}
.flaticon-televisions:before {
	content: "\e006";
}
.flaticon-text3:before {
	content: "\e007";
}
.flaticon-time44:before {
	content: "\e008";
}