
@font-face {
    font-family: 'afta_serifitalic';
    src: url('../fonts/aftaserifthin-italic-webfont-webfont.eot');
    src: url('../fonts/aftaserifthin-italic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aftaserifthin-italic-webfont-webfont.woff2') format('woff2'),
         url('../fonts/aftaserifthin-italic-webfont-webfont.woff') format('woff'),
         url('../fonts/aftaserifthin-italic-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}