/*Autocomplete Address Box*/
.pac-container{ z-index:1000000;}

/*Add Services Pupup Box*/
#addservice_background {
  transition: all 0.3s 0.3s;
}
#addservice,
#addservice_wrapper {
  transition: all 0.3s ease-out;
}
#addservice {
  transform: translateX(0) translateY(-40%);
}
.popup_visible #addservice {
  transform: translateX(0) translateY(0);
}

/*Add Members Pupup Box*/
#addmember_background {
  transition: all 0.3s 0.3s;
}
#addmember,
#addmember_wrapper {
  transition: all 0.3s ease-out;
}
#addmember {
  transform: translateX(0) translateY(-40%);
}
.popup_visible #addmember {
  transform: translateX(0) translateY(0);
}

/*Add Postcode Pupup Box*/
#addservicearea_background {
  transition: all 0.3s 0.3s;
}
#addservicearea,
#addservicearea_wrapper {
  transition: all 0.3s ease-out;
}
#addservicearea {
  transform: translateX(0) translateY(-40%);
}
.popup_visible #addservicearea {
  transform: translateX(0) translateY(0);
}

/*Enter Postcode Pupup Box*/
#enterpostcode_background {
  transition: all 0.3s 0.3s;
}
#enterpostcode,
#enterpostcode_wrapper {
  transition: all 0.3s ease-out;
}
#enterpostcode {
  transform: translateX(0) translateY(-40%);
}
.popup_visible #enterpostcode {
  transform: translateX(0) translateY(0);
}