.sf-find-bar.sf-search-result [class*="search-col-"]:first-child .form-control,
.sf-find-bar.sf-search-result [class*="search-col-"]:first-child .btn {
	border-radius: 0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;		
}
.sf-find-bar.sf-search-result [class*="search-col-"]:last-child .form-control,
.sf-find-bar.sf-search-result [class*="search-col-"]:last-child .btn {
	border-radius:5px 0  0 5px;
	-webkit-border-radius:5px 0  0 5px;		
}
.sf-find-bar.sf-search-result [class*="search-col-"] {
	border-right:1px solid #e4e8eb;
}
.sf-find-bar.sf-search-result [class*="search-col-"]:first-child {
	border-right:none;
}

.sf-categories-label {
	left:auto;
	right:20px;
}
.sf-featured-approve {
	right:auto;
	left:20px;
}
.sf-featured-item {
	right:auto;
	left:20px;
}
.sf-featured-info {
	left:auto;
	right:0;
}
.sf-featured-bot .sf-provider-tooltip .btn {
	margin:0 0 0 15px !important;
}