

.bg-gray {
    background-color: #eff3f6;
}

.section-head p {
    color: inherit;
    font-size: 14px;
} 

.section-full {
    padding: 70px 0;
}

.rating-container .rating-stars {
	color:#FFD925;
}


.header-nav .nav > li .sub-menu {
	border-radius:5px;
	-webkit-right-radius:5px;
}


.sf-advace-search .tooltip-inner {
	border-radius:3px;
	-webkit-border-radius:3px;
}

.alert,
.btn,
.form-control,
.owl-theme .owl-controls .owl-nav .owl-prev, 
.owl-theme .owl-controls .owl-nav .owl-next,
ul.job_listings .job_listing .job-comapny-logo,
ul.job_listings .job_listing .job-comapny-logo img,
.tooltip-inner,
.blog-post .post-date,
.searchform input[type="text"],
.searchform input[type="submit"],
.about-info .sf-provider-des .sf-thum-bx,
.about-info .sf-provider-des .sf-thum-bx img,
.overlay-black-light::after,
.about-info .shared-bx .sharebtn-bx li,
.sf-services-list .panel,
.dropdown-menu,
#geolocation-button, 
#gmap-full, 
#gmap-next, 
#gmap-prev, 
#gmapstreet, 
#gmapzoomplus, 
#gmapzoomminus,
.provider-details .provider-logo img,
ul.sharebtn-bx li, 
.recent-services-bx .post-thum-bx,
.recent-services-bx .post-thum-bx img,
.provider-map,
#googleMap,
.social-bx li, 
.provider-social .social-bx li a,
#slider .owl-stage-outer .projectitem,
#slider .owl-stage-outer .projectitem img,
#navigation .owl-stage-outer .projectitem,
#navigation .owl-stage-outer .projectitem img ,
.aon-service-bx,
.selected .aon-service-done,
ol.comment-list li.comment .comment-body,
.rwmb-images li,
.rwmb-images li img,
.rwmb-map-canvas,
.embed-responsive,
.profile-pic-bx  ul.rwmb-images li .rwmb-image-bar,
.gallery-images .rwmb-image-bar, 
.attachment-files .rwmb-image-bar,
table.dataTable,
table.booking-listing .provider-pic,
.dataTable.favorites-listing,
.job-manager-form fieldset input.input-text,
.job-manager-form fieldset div.field,
.job-manager-form fieldset .account-sign-in .button ,
.job-manager-form input[type="submit"], 
.job-manager-form fieldset .account-sign-in .button, 
.single_job_listing .application .application_button,
.job-manager-form fieldset .wp-editor-container,
.table.job-manager-jobs,
.comments-area .comment-form p input[type="text"], 
.comments-area .comment-form p textarea,
.comments-area .comment-form p input[type="submit"],
.comments-area p::before,
.recent-posts-entry .post-thum-bx,
.recent-posts-entry .post-thum-bx img,
.load_more_jobs strong,
.widget-title::after,
#gmap_wrapper,
.job_filters .search_jobs input,
.sf-card-group img, 
.sf-card-my-account img,
div.zabuto_calendar .table,
ul.timeslots li, 
ul.protimelist li,
.info_details,
#infocloser,
.sf-location-box,
.sf-videothumbs ul.rwmb-video-thumb li,
.sf-videothumbs ul.rwmb-video-thumb li img,
.sf-videothumbs  .rwmb-thumb-bar,
.icon-bx-xl, 
.icon-bx-lg, 
.icon-bx-md, 
.icon-bx-sm, 
.icon-bx-xs,
.sf-video-box,
.sf-video-box img,
.sf-video-box .img-effect1::before,
.sf-documents-table .panel,
.sf-location-listing li a,
.search-result-listing .btn-advace-wrap .btn-advace-search,
.widget_provider_search_form .btn-advace-wrap .btn-advace-search,
.wp-social-login-provider-list .wp-social-login-provider {
	border-radius:5px;
	-webkit-border-radius:5px;
}
.sf-services-list .panel {
	overflow:hidden;
}
.nav-tabs > li > a,
.job_listing .meta > li:first-child,
.header-nav .nav > li .sub-menu li:first-child,
.blog-post .post-date strong,
.pagination > li:first-child > a,
.wp-editor-tabs .wp-switch-editor {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}

.tabbable .tab-content,
.job_listing .meta  >li:last-child,
.header-nav .nav > li .sub-menu li:last-child,
.blog-post .post-date span,
.pagination > li:first-child > span  {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;	
}

.aon-service-price,
.mce-flow-layout,
div.mce-statusbar,
div.mce-panel {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;	
}
.input-group-addon  {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;	
}

.sf-categories-girds,
.modal-content,
.about-info .sf-provider-des,
.gallery-thums2 .item .sf-thum-bx,
.gallery-thums2 .item .sf-thum-bx .overlay-bx,
.gallery-thums2 .item .sf-thum-bx img,
.auther-pic-text,
.sf-rouned-box,
.provider-details .provider-logo,
div.RWMB-drag-drop,
.side-bar,
.profile-form-bx,
.post-navigation,
.comments-area > .bg-white,
.comment-respond,
.sf-featured-listing,
.sf-featured-left .sf-overlay-box,
.sf-featured-left .sf-featured-media,
.mfp-iframe-scaler,
.mfp-iframe-scaler iframe,
.job-manager-form,
.sf-pricing-highlight,
.sliderLarge .sf-thum-bx img,
.thumbnail-slider .sf-thum-bx img,
.thumbnail-slider .sf-thum-active::after {
	border-radius:10px;
	-webkit-border-radius:10px;
}
.modal-header,
.sf-pricing-box-new .pricingtable-price,
.post-thum,
.post-thum img,
.form-wizard,
.auther-bx,
.search_jobs {
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}
.modal-footer,
.sf-pricing-box-new .pricingtable-footer,
.post-info,
.form-wizard .wizard-actions,
.form-wizard .tab-content,
.form-wizard,
.profile-menu ul {
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;	
}

.form-nav .nav li:first-child a {
	border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
}
.form-nav .nav li:last-child a {
	border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
}
.panel-group .panel:first-child,
.panel-group .panel:first-child .panel-heading {
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}
.panel-group .panel:last-child,
.profile-menu ul li:last-child  {
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
}
.panel-group .panel:last-child {
	overflow:hidden;
}
.panel-group .panel:last-child .panel-heading {
	margin-bottom:-1px;
}
.panel-group .panel:last-child .panel-collapse {
	margin-top:1px;
}

.panel-group .panel:first-child .indicator{
	border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
}
.panel-group .panel:last-child .indicator{
	border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
}

/*BLOG*/
.blog-post .post-meta {
    border-bottom:none;
}


ul.share-social-bx li:first-child,
.pagination > li:first-child > span,
.pagination > li:first-child > a {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
}
ul.share-social-bx li:last-child,
.pagination > li:last-child > span,
.pagination > li:last-child > a {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}

.btn,
.searchform input[type="submit"],
.owl-theme .owl-controls .owl-nav .owl-prev, 
.owl-theme .owl-controls .owl-nav .owl-next,
.job-manager-form fieldset .account-sign-in .button ,
.job-manager-form input[type="submit"], 
.job-manager-form fieldset .account-sign-in .button, 
.single_job_listing .application .application_button, 
.load_more_jobs strong,
.comments-area .comment-form p input[type="submit"] {
	border:none;
}

ul.timeslots li, 
ul.protimelist li {
	border:none;
}

.sf-show-rating .rating-container {
	font-size:12px;
}
.sf-featured-top,
.sf-latest-news .post-thum {
	border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;	
}
.sf-featured-bot,
.sf-latest-news .post-info {
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;	
}
ul.job_listings {
	border-top:0;
}
ul.job_listings li.job_listing {
	padding:25px;
	border-color:#e3e7eb;
}
ul.job_listings li.job_listing:first-child {
	border-top:1px solid #e3e7eb;
	border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;	
}
ul.job_listings li.job_listing:last-child {
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;		
}


.owl-theme .owl-controls .owl-nav .owl-prev, 
.owl-theme .owl-controls .owl-nav .owl-next {
	padding:6px 11px;
	text-align:center;
}
.owl-theme .owl-controls .owl-nav .owl-prev i, 
.owl-theme .owl-controls .owl-nav .owl-next i {
	vertical-align:middle;
}

.tabbable.tabs-left .nav-tabs li a { 
	border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;	
}
.tabbable.tabs-left .tab-content { 
	border-radius: 0 5px 5px 0 ;
	-webkit-border-radius: 0 5px 5px 0;	
}

.cal-month-box, 
.cal-year-box, 
.cal-week-box {
	border-radius:5px;
	-webkit-border-radius:5px;
}

.rwmb-input.ui-sortable .show-embed {
    position: absolute;
    right: -2px;
    top: 1px;
}
table.booking-listing .provider-pic {
	padding:5px;
	border:1px solid #ddd;
}
table.booking-listing .provider-pic img {
	padding:0;
	border:none;
}

/*=======================
	// Search Bar css new look //
=======================*/

.sf-search-result {

}
.sf-search-result .sf-search-title {
	display:none;
}
.sf-search-result .sf-search-title {
	list-style:none;
	margin:0;
}
.sf-search-result .sf-search-title li {
	padding:15px 20px;
	background-color:rgba(255,255,255,0.3);
	float:left;
	font-size:20px;
	color:#fff;
	font-weight:800;
	border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
}
.sf-search-result .search-form {
	padding:15px;
}
.sf-search-result .search-form > form {
	margin-bottom:0;
}
.sf-search-result  .search-form:before { 
	opacity: 0.3;
	border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 10px;
}

.sf-search-result [class*="search-col-"] {
	padding:0;
}
.sf-search-result [class*="search-col-"] {
	border-right:1px solid #e4e8eb;
}
.sf-search-result [class*="search-col-"]:last-child {
	border-right:none;
}
.sf-search-result .form-control,
.sf-search-result .btn-search-result {
	border-radius:0;
	-webkit-border-radius:0;	
} 
.sf-search-result [class*="search-col-"]:first-child .form-control,
.sf-search-result [class*="search-col-"]:first-child .btn {
	border-radius:5px 0 0 5px ;
	-webkit-border-radius:5px 0 0 5px;		
}
.sf-search-result [class*="search-col-"]:last-child .form-control,
.sf-search-result [class*="search-col-"]:last-child .btn {
	border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;		
}

.sf-search-result .form-control,
.sf-search-result .btn-search-result {
	border:none;
	height:50px;
	padding:13px 15px;
}
.sf-search-result .btn-search-result {
	text-transform:uppercase;
	font-weight:600;
}
.sf-search-result .bootstrap-select.form-control {
	height:50px;
	padding:0;
}
.sf-search-result .bootstrap-select .btn {
	height:50px;
	padding:13px 25px 13px 15px;
}
.sf-search-result .bootstrap-select .bs-searchbox .form-control{
	height:30px;
	border:1px solid #ddd;
	padding:7px 10px;
}
.btn-advace-wrap .btn-advace-search {
	left:-15px;
	bottom:15px;
	border-radius:10px 10px 0 0 ;
	-webkit-border-radius:10px 10px 0 0 ;
}
.btn-advace-wrap .btn-advace-search::after {
	border-radius:10px 10px 0 0 ;
	-webkit-border-radius:10px 10px 0 0 ;
}

@media only screen and (max-width:991px) {
	
.sf-search-result .sf-search-form-element {
	margin:0 -7.5px;
}
.sf-search-result [class*="search-col-"] {
	padding-left:7.5px;
	padding-right:7.5px;
}	

.sf-search-result .sf-search-form-element {
	margin:0 -7.5px;
}
.sf-search-result [class*="search-col-"]:first-child .form-control, 
.sf-search-result [class*="search-col-"]:first-child .btn
.sf-search-result [class*="search-col-"]:last-child .form-control, 
.sf-search-result [class*="search-col-"]:last-child .btn {
    border-radius: 5px;
}
.sf-search-result [class*="search-col-"] .form-control, 
.sf-search-result [class*="search-col-"] .btn {
    border-radius: 5px;
	-webkit-border-radius:5px;
}
.sf-search-result [class*="search-col-"] {
	border:none;
}

}

@media only screen and (max-width:991px) { 
.sf-search-result {
	padding:40px 15px;
	position:static;
}
}