/*RTL CSS*/ 
.logo-header { 
	float:right;
}

.header-nav .nav {
    float: left;
}
@media only screen and (max-width:991px) {
.header-nav .nav {
    float: none;
}	
}


.social-bx li i, 
.login-bx li i,
.e-p-bx li i {
    margin: 0 0 0 5px; 
	vertical-align:inherit;
}
.social-bx, 
.login-bx {
    float: left;
}

@media only screen and (max-width:991px) {
.top-bar [class*="col-"] {
    text-align: left;
}
.social-bx, 
.login-bx{
    margin: 0 15px 0 0;
}
.e-p-bx {
    margin:0 0 0 6px;
}

}

.header-nav .nav > li.menu-item-has-children:before {
	right:auto;
	left:4px;
}

@media only screen and (max-width:991px) {
.header-nav .nav > li.menu-item-has-children:before {
	left:10px;
}

}

.extra-nav {
	float:left;
	margin-left:15px;
	margin-right:0;
}
.extra-nav ul li {
    margin-left:0;
	margin-right:10px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	text-align:right;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
	right:auto;
	left:12px;
}
.provider-map #gmap-controls-wrapper {
	right:auto;
	left:20px;
}
#gmap-controls-wrapper {
    left: 0;
    right: 20px;
}

.service-plus {
	left:auto;
	right:20px;
}
.service-name {
	left:auto;
	right:0;
}
.service-plus i {
    margin-left:5px;
	margin-right:0;
}

.sf-category-tag {
	left:auto;
	right:0;
}
.sf-address-bx {
	text-align:right;
}
.sf-address-bx .fa {
    right: 0;
	left:auto;
}

/*==Map info box==*/
.info_details {
    margin-left:0;
	margin-right:-160px;

}
#infocloser {
    left: auto;
    right: 6px;
}
.infoimage {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}

/*=== Blog ===*/
.blog-post .post-date {
	float:right;
}
.blog-post .read-more:after {
	display:none;  
}
.blog-post .read-more:before {
	content:"\f100";  
    font-family: "FontAwesome";  
}
.blog-post .post-date {
    margin: 0 0 30px 30px;
}
.blog-post .post-meta ul {
    float: left;
	margin-top:-5px;
}
.blog-post.no-img-post .post-date {
    float: right;
}
.blog-grid.blog-post .post-date {
    margin: 0 0 5px 30px;
}
.searchform input[type="text"] {
    padding: 10px 15px 10px 90px;
}
.searchform input[type="submit"] {
    right:auto;
	left:0;
}
ol.comment-list li.comment .reply a {
    right: auto;
	left:30px;
}
.comments-area p.comment-form-author:before,
.comments-area p.comment-form-comment:before,
.comments-area p.comment-form-email:before,
.comments-area p.comment-form-url:before {
    left:auto;
	right:15px;
}
.comments-area .comment-form p input[type="text"], 
.comments-area .comment-form p textarea {
    padding: 10px 50px 10px 10px;
}
.latest-blog .post-meta ul{
	float:none;
}

ol.comment-list li.comment .comment-body {
    margin-left:0;
	margin-right: 80px;
}
ol.comment-list li.comment .comment-author .avatar {
    left:auto;
	right:-80px;
}
ol.comment-list li.comment .comment-body::before {
    right: -12px;
	left:auto;
}
ol.comment-list li.comment .comment-body::after {
	right:-14px;
    left:auto;
}
ol.comment-list li.comment .comment-body::after,
ol.comment-list li.comment .comment-body::before {
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	vertical-align:middle;
}


/*=== Testimonial ===*/
.testimonial-text strong::after {
    position:relative;
    right:3px;
}
.testimonial-text span{
    margin-right:3px;
}
.testimonial-text strong{
    margin-right:0;
}
.testimonial-pic {
	float:right;
}
.testimonial-pic::before {
	left:auto;
	right:0;

}
.testimonial-text {
    margin-left:0;
	margin-right: 120px;
}

/*=== widget ===*/
.side-bar .widget_categories ul li::before, 
.side-bar .widget_archive ul li::before, 
.side-bar .widget_meta ul li::before, 
.side-bar .widget_pages ul li::before, 
.side-bar .widget_recent_comments ul li::before, 
.side-bar .widget_nav_menu ul li::before, 
.side-bar .widget_recent_entries ul li::before{
	left:auto;
	right:0;
}

.side-bar .widget_categories ul li, 
.side-bar .widget_archive ul li, 
.side-bar .widget_meta ul li, 
.side-bar .widget_pages ul li, 
.side-bar .widget_recent_comments ul li, 
.side-bar .widget_nav_menu li, 
.side-bar .widget_recent_entries ul li {
    padding: 10px 20px 10px 10px;
}

.widget i.fa {
    margin-left:5px;
	margin-right:0;
}
.recent-posts-entry .post-date, 
.tweets-feed-entry .tweet-date {
	display:inline-block;
	margin-left:3px; 
}
footer p a {
    display: inline-block;
}
.recent-posts-entry .post-text-bx {
    margin-left:0;
	margin-right: 75px;
}
.recent-posts-entry .post-thum-bx {
    float: right;
    margin-left: 15px;
    width: 70px;
}
button.scroltop {
	left:10px;
	right:auto;
}


/*=== widget ===*/
#footer .widget_categories ul li:before, 
#footer .widget_archive ul li:before,
#footer .widget_meta ul li:before, 
#footer .widget_pages ul li:before, 
#footer .widget_recent_comments ul li:before, 
#footer .widget_nav_menu ul li:before, 
#footer .widget_recent_entries ul li:before {
    left:auto;
	right:0;
	content:"\f0d9";
 }
 
 #footer .widget_categories li li,
#footer .widget_meta li li,
#footer .widget_recent_comments  li li,
#footer .widget_archive li li,
#footer .widget_pages li li,
#footer .widget_nav_menu li li, 
#footer .widget_recent_entries li li  {
	padding-left:5px;
	padding-right:7px;
}


/*=== Rating  = ==*/
.rating-container .rating-stars {
	right:0;
}

/*=== Contect page css  = ==*/
ul.contact-info li .fa {
    left: auto;
    right: 0;
}

ul.contact-info li {
    padding: 0 25px 15px 0;
}

/*My Account*/
.sf-submit-my-profile {
	float:right;
}
.sf-check-my-profile {
	float:left;
}
.profile-menu ul li i {
    border-right:none;
	border-left:1px solid #e8e9e9;
    left: auto;
    margin-right:0;
	margin-left:10px;
    right:10px;
}
.profile-menu ul li {
    padding: 10px 50px 10px 40px;
}
.auther-pic-text .profile-pic-bx {
    float: right;
}
.auther-pic-text .profile-text-bx {
    margin-left:0;
	margin-right:200px;
}

@media only screen and (max-width: 767px) {
.auther-pic-text .profile-pic-bx {
    float: none;
    width: 100%;
	margin-bottom:30px;
}
.auther-pic-text .profile-text-bx {
    margin-right:0;
}
}


/*My Account*/
.profile-pic-bx ul.rwmb-images li .rwmb-image-bar {
    padding: 0 6px;
	right:auto;
	left:0;
}
.gallery-images .rwmb-image-bar, .attachment-files .rwmb-image-bar {
    left: 15px;
    padding: 0 5px;
    right: auto;
}

.tabbable.tabs-left .nav-tabs {
    border-right:none;
	border-left: 1px solid #ddd;
}
.tabbable.tabs-left .nav-tabs li {
    margin-right:0;
	margin-left:-1px;
}
.tabbable.tabs-left .nav-tabs li.active a, 
.tabbable.tabs-left .nav-tabs li:hover a, 
.tabbable.tabs-left .nav-tabs li:focus a {
    border-right-color: #e1e1e1;
	border-left-color:transparent;
}
.tabbable.tabs-left .tab-content {
    margin-left: 0;
    margin-right: -1px;
}

div.dataTables_filter {
    text-align: left;
}
div.dataTables_length {
	text-align: right;
}
div.dataTables_paginate {
    text-align: left;
}
.scheduledata-bx .staffmembers-bx {
    float: left;
}
.scheduledata-bx .month-title {
    float: right;
}
.cal-row-fluid [class*="cal-cell"] {
    float: right;
}


@media only screen and (max-width: 1024px) {
	
div.dataTables_info {
	text-align:right;
}

}

@media only screen and (max-width: 767px) {
	
div.dataTables_paginate {
    text-align: right;
}
.dataTables_empty {
	text-align:right;
}

}

/*radio & checkbox rtl css*/
input[type="checkbox"]:checked + label::after {
    font-size: 10px;
    left: auto;
    right: 3px;
}
input[type="checkbox"] + label::before, 
input[type="radio"] + label::before {
	margin-right:-20px !important;
	margin-left:0 !important;
}
input[type="checkbox"] + label, 
input[type="radio"] + label {
	padding-left:0 !important;
	padding-right:20px !important;
}
.form-inline .checkbox label, 
.form-inline .radio label {
    padding-right: 20px;
	padding-left:0px !important;
}

.form-group.form-inline .radio, 
.form-group.form-inline .checkbox {
    margin-right:0;
	margin-left: 15px;
}

/*WP gallery css*/
.rwmb-images li {
    float:right;
}
.rwmb-input.ui-sortable .form-control {
    padding-left: 95px;
	padding-right:15px;
}
.rwmb-input.ui-sortable .show-embed {
    right: auto;
	left:0;
}

.accodian-style1 .indicator {
    right: auto;
    left:-1px;
}

ul.sharebtn-bx li, ul.share-social-bx li {
    padding: 0  0 0 10px;
}

ul.sharebtn-bx li i, ul.share-social-bx li i {
    border-right:none;
	border-left:1px solid #efeded;
    margin:0 0 0 10px;
}

.services-row table tr td:first-child {
    padding-left: 15px;
}
.services-row table tr td:last-child {
    padding-right: 15px;
}

.about-info .sf-provider-des {
    margin: 0 0 15px 15px;
}

/*booking form css*/

ul.indiget-booking li {
    margin-right:0;
	margin-left:30px;
}

ul.indiget-booking li b {
    margin-right:0;
	margin-left:10px;
}

/*buttons arrow css*/

.btn .fa-arrow-right,
.zabuto_calendar .table th span .glyphicon-chevron-right {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	vertical-align:middle;
} 

.btn .fa-arrow-left,
.zabuto_calendar .table th span .glyphicon-chevron-left  {
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	vertical-align:middle;
}

/*OWL button css*/
.owl-carousel.owl-rtl .owl-controls .owl-prev i {
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.owl-carousel.owl-rtl .owl-controls .owl-next i {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.owl-btn-center-lr .owl-controls .owl-nav .owl-next {
    left: 0;
    right: auto;
}
.owl-btn-center-lr .owl-controls .owl-nav .owl-prev {
    left: auto;
    right: 0;
}


.provider-details .provider-logo {
    float: right;
    margin-left: 30px;
	margin-right:0;
}

.provider-info .table tr td i {
    margin-right:0;
	margin-left: 10px;
}

.form-step-bx h6 strong {
    left: auto;
    right: -30px;
}
.sf-documents-table .price-bx {
    left: auto;
    right: 15px;
}
.sf-documents-table .panel-heading {
    padding-left: 0;
	padding-right:40px;
}
.provider-services ul li {
    padding: 0 25px 15px 0;
}
.provider-services ul li i {
    left: auto;
    right: 0;
}
.provider-services ul li .p-s-title .cost {
    float: left;
}
.provider-services ul li .fa-check {
    transform: rotateY(-180deg);
}
.form-step-bx .btn.edit {
    left: 0;
    right: auto;
}
.recent-services-bx .post-thum-bx {
    margin-right:0;
	margin-left:15px;
	float:right;
}
.recent-services-bx .post-text-bx {
    margin-left: 0;
    margin-right: 90px;
}

.bootstrap-select div.dropdown-menu ul li a img {
    margin-left: 5px;
    margin-right: 0;
}

/* job listing css */

.job_filters .search_jobs > div.search_keywords,
.job_filters .search_jobs > div.search_location,
.job_filters .search_jobs > div.search_region, 
.job_filters .search_jobs > div.search_categories {
    float: right;
}
@media only screen and (max-width:991px) {
.job_filters .search_jobs div.search_keywords, 
.job_filters .search_jobs div.search_location, 
.job_filters .search_jobs div.search_provider_categories, 
.job_filters .search_jobs div.search_categories {
    float: none;
}
}

.job_filters .job_types li {
    border-left: 1px solid #ddd;
    border-right:none;
    float: right;
}
.job_filters .showing_jobs a.rss_link,
.job_filters .showing_jobs a.reset {
    float: left;
    margin-left:0;
	margin-right:10px;
}
.showing_jobs > span {
    float: right;
}

@media only screen and (max-width:767px) {
.showing_jobs > span {
    width: 60%;
}
}

ul.job_listings .job_listing .job-comapny-logo {
    float: right;
}
.job-comapny-info {
    padding-left: 0;
    padding-right: 120px;
}
.job-comapny-info .position,
.job-comapny-info .meta {
	padding-left:0;
	padding-right:30px;
}
.job-comapny-info .location {
	padding-right:45px;
}
.job_listing .location:before {
    left:auto;
    right:7px;
}

@media only screen and (max-width:991px) {

.job_filters .job_types li {
	border: 1px solid #ddd;
	margin-right:0;
	margin-left:10px;
}




}

@media only screen and (max-width:767px) {

.job-comapny-info .meta {
	right:auto;
	left:30px;
}
.job_listing .location:before {
    left:auto;
    right :30px;
}

}

@media only screen and (max-width:600px) {

.job-comapny-info {
    padding-left:0;
	padding-right:40px;
}
.job-comapny-info .meta {
	width:auto;
	min-width:120px;
	position:static;
	margin-left:25px;
}
.job-comapny-info .location {
	padding-left:0;
	padding-right:42px;
}

}

/* job form css */
.job-manager-form fieldset .account-sign-in .button {
    float: left;
}
.job-manager-form input[type="submit"] {
    margin-left:0;
	margin-right:31%;
}

@media only screen and (max-width:767px) {
	
.rtl .job-manager-form label {
    float: none;
}
.rtl .entry-content .job_listing_preview_title .button, 
.rtl .job-manager-form div.field, 
.rtl .job_listing_preview_title .button {
    float: none;
}
.job-manager-form input[type="submit"] {
    margin-right: 30px;
}
}

/* job detail pade css */
.sf-job-info .company-logo-info {
	float:right;
}	
.sf-job-title-company {
    margin-left:152px;
	margin-right: 170px;
}

.job_application.application {
    right: auto;
	left:30px;
}

@media only screen and (max-width:767px) {
.job_application.application {
    margin-right: 100px;
    margin-top: 15px;
    position: static;
}
.sf-job-title-company {
    margin-left:0;
	margin-right:100px;
}
.sf-job-info .company-logo-info {
    width: 80px;
}
.sf-job-title {
	margin:0 0 10px;
}

}
/*main nav*/
.header-nav .nav > li .sub-menu {
 left:auto;
 right:0;
}

/*blog*/
.blog-detail .post-meta ul {
    float: right;
}

/*social icons on login popup*/
.wp-social-login-provider-list [class*="wp-social-login-provider-"]:after {
		left:auto;
		right:50px;
		font-size:14px;
}
.wp-social-login-provider-list [class*="wp-social-login-provider-"]:before {
		left:auto;
		right:20px;
		font-size:15px;
}

/*Rating*/
.comments-area .comment-form #add_comment_rating_wrap #add_post_rating {
    left: 0;
    right: auto;
}
.cancel-on-png, .cancel-off-png, 
.star-on-png, .star-off-png, 
.star-half-png {
	float:right;
}
/*multi address on provider page*/
.sf-location-listing li {
	float:right;
}
/*services on provider profile*/
.sf-services-list .panel-heading[aria-expanded]::before {
	right:auto;
	left:15px;
}

.blog-md.blog-post .post-thum {
	float:right;
	margin-left:30px;
	margin-right:0;
}